<ion-content>
  <!-- Yahan apka sara content hoga -->
  <div class="content-wrapper">
    <div class="header-content" style="background: linear-gradient(135deg, #e3f2fd, #bbdefb); padding: 20px; border-radius: 10px; margin-bottom: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
      <img src="../../../assets/menu-toolbar.png" class="header-logo" style="height: 40px; margin-bottom: 10px;">
      <ion-icon name="close-circle" class="close-icon" (click)="back()" style="position: absolute; top: 10px; right: 10px; font-size: 18px;"></ion-icon>
    </div>

    <!-- card 1 -Car-->
     
    <div style="text-align: -webkit-center;">
      <ion-card class="btn-white" style="padding: 8px; border-radius: 8px; background: #f5f5f5;">
        <ion-card-header>
          <p class="welcome-text">Welcome to Motorscube</p>    
          <p style="font-size: 16px; margin-top: 10px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(33, 204, 216);"><b></b></span> </p>    
          <hr style="height: 4px; background-color: aquamarine;">
          <div style="display: flex; margin-top: -50px; background: #e0e0e0; padding: 8px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" (click)="goToProfile()"> 
            <img src="../../../assets/Menu-items/After login/profile.png" style="width: 20px; height: 20px; margin-left: 10px;">
            <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> 
              <span style="color: rgb(143, 143, 143); font-weight: bold;">Account Profile</span> 
            </p>               
          </div>
     

          <div style="display: flex; margin-top: 10px; background: #e0e0e0; padding: 8px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);"> 
            <img src="../../../assets/Menu-items/After login/message.png" style="width: 20px; height: 20px; margin-top: 5px; margin-left: 10px;">
            <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> 
              <span style="color: rgb(143, 143, 143); font-weight: bold;">Messages</span> 
            </p>               
          </div>
        

          <div style="display: flex; margin-top: 10px; background: #e0e0e0; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" (click)="goToWallet()"> 
            <img src="../../../assets/Menu-items/After login/wallet.png" style="width: 20px; height: 20px; margin-left: 10px;">
            <p style="font-size: 14px; margin-top: 15px; text-align: center; padding-right: 10px; width: 100%;"> 
              <span style="color: rgb(143, 143, 143); font-weight: bold;">Your Wallets</span> 
            </p>               
          </div>
     
          <p style="font-size: 13px; margin-top: 10px; text-align: center; padding-right: 10px; width: 100%;"> Complete Motoring solutions. Buy Sell or Rent across Pakistan. </p> 
         

            <div style="text-align: -webkit-center;"  >
              <ion-card class="btn-car" (click)="toggleCarDropdown()" style="border-radius: 18px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-top: 20px; background: #e3f2fd;">
                <ion-card-header>
                  <ion-row>
                    <ion-col width="60%">  
                      <p style="font-size: 13px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: black; font-weight: bold;"><b>Cars</b></span> </p>
                    </ion-col>
                    <ion-col width="60%" >
                      <img src="../../../assets/Menu-items/car.png" style="width: 60px; margin-top: -20px; margin-bottom: -30px; margin-left: 20px;">
                    </ion-col>
              </ion-row>
            <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
              </ion-card-header>
              </ion-card>
              </div>

              <div id="car_dropdown" *ngIf="carDropdownVisible" style="background: rgba(33, 150, 243, 0.1); padding: 10px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                <div style="display: flex; margin-top: 10px;" (click)="navigateToCar()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-ads.png" style="width: 40px; margin-top: 0px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Car You Posted</span> </p>               
                </div>
              
                <div style="display: flex; cursor: pointer; margin-top: 10px;" (click)="toggleDropdown()">
                  <img src="../../../assets/Menu-items/After login/Car menu/manage-car.png" style="width: 40px; margin-top: 0px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;">
                    <span style="color: rgb(143, 143, 143);">Manage Your Car</span>
                  </p>
                  <ion-icon [name]="dropdownVisible ? 'chevron-up-outline' : 'chevron-down-outline'" style="margin-right: 20px; width: 20px; margin-top: 16px;"></ion-icon>
                </div>
              
                <div *ngIf="dropdownVisible" style="margin-left: 20px;">
                  <!-- Dropdown content -->
                  <div style="display: flex;" (click)="navigateToCar()">
                    <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;">
                      <span style="color: rgb(143, 143, 143);">Your Car</span>
                    </p>
                  </div>
                  <div style="display: flex;" (click)="navigateToNewCar()">
                    <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;">
                      <span style="color: rgb(143, 143, 143);">Add New Car To Manage</span>
                    </p>
                  </div>
                </div>
                
                <div *ngIf="userType === 'Trader'" style="display: flex; margin-top: 10px;" (click)="navigateToBusiness()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/business.png" style="width: 40px; margin-top: 0px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Are you business? Add profile for free</span> </p>               
                </div>
                <hr style="height: 4px; background-color: aquamarine;">
                <p style="font-size: 20px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span class="main-heading"><b>Search Car</b></span> </p>               
           
                <div style="display: flex;" (click)="navigateToForSale()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-sale.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">For Sale</span> </p>               
                </div>
          
                <div style="display: flex;" (click)="navigateToForHire()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-hire.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">For Hire</span> </p>               
                </div>
       
                <div style="display: flex;"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-parts.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Parts & Accessories</span> </p>               
                </div>
   
                <hr style="height: 4px; background-color: aquamarine;">
                <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span class="main-heading"><b>Post Car</b></span> </p>               
                <div style="display: flex;">
                  <button style="background-color: rgb(240, 24, 24); color: white; border-radius: 10px; padding: 15px; padding-left: 25px; padding-right: 25px; width: 48%; margin:3px" (click)="navigateToPostSale()">For Sale</button>  
                  <button style="background-color: rgb(240, 24, 24); color: white; border-radius: 10px; padding: 15px; padding-left: 25px; padding-right: 25px; width: 48%; margin:3px" (click)="navigateToPostHire()">For Hire</button>  
                </div><hr style="height: 4px; background-color: aquamarine;">
                <p class="main-heading" style="justify-content: center; display: flex;">Search For Businesses</p>
                <div style="display: flex;" (click)="navigateToShowroom()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-showroom.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Showroom</span> </p>               
                </div>
                <div style="display: flex;" (click)="navigateToDealer()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-dealer.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Dealer</span> </p>               
                </div>
                <div style="display: flex;" (click)="navigateToWorkshop()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/workshop.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Workshop</span> </p>               
                </div>
                <div style="display: flex;" (click)="navigateToSchool()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/driving-school.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Driving School</span> </p>               
                </div>
       
                <div style="display: flex;" (click)="navigateToImporter()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/importer.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Importer</span> </p>               
                </div>
           
                <div style="display: flex;" (click)="navigateToExporter()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/exporter.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Exporter</span> </p>               
                </div>
          
                <div style="display: flex;" (click)="navigateToInsurance()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/insurance.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Insurance</span> </p>               
                </div>
             
                <div style="display: flex;" (click)="navigateToLeasing()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/leasing.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Leasing</span> </p>               
                </div>
          
              </div>


              <div style="text-align: -webkit-center;"  >
                <ion-card class="btn-car" (click)="toggleBikeDropdown()" style="border-radius: 18px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-top: 20px; background: #e8f5e9;">
                  <ion-card-header>
                    <ion-row>
                      <ion-col width="60%">
                        <p style="font-size: 13px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: black; font-weight: bold;"><b>Motorsbike</b></span> </p>
                      </ion-col>
                      <ion-col width="60%" >
                        <img src="../../../assets/Menu-items/bike.png" style="width: 60px; margin-top: -20px; margin-bottom: -30px; margin-left: 20px;">
                      </ion-col>
                    </ion-row>
                    <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </div>
              <div id="car_dropdown"  *ngIf="BikeDropdownVisible">
                <div style="display: flex;margin-top: 10px; " (click)="navigateToCar()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-ads.png" style="width: 40px; margin-top: 0px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Bike You Posted</span> </p>               
                </div>
              
                <div style="display: flex; cursor: pointer;margin-top: 10px;" (click)="toggleDropdown()">
                  <img src="../../../assets/Menu-items/After login/Car menu/manage-car.png" style="width: 40px; margin-top: 0px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;">
                    <span style="color: rgb(143, 143, 143);">Manage Your Bike</span>
                  </p>
                  <ion-icon [name]="dropdownVisible ? 'chevron-up-outline' : 'chevron-down-outline'" style="margin-right: 20px; width: 20px; margin-top: 16px;"></ion-icon>
                </div>
              
                <div *ngIf="dropdownVisible" style="margin-left: 20px;">
                  <!-- Dropdown content -->
                  <div style="display: flex;" (click)="navigateToCar()">
                    <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;">
                      <span style="color: rgb(143, 143, 143);">Your BIke</span>
                    </p>
                  </div>
                  <div style="display: flex;" (click)="navigateToNewCar()">
                    <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;">
                      <span style="color: rgb(143, 143, 143);">Add New Bike To Manage</span>
                    </p>
                  </div>
                </div>
              
                <div *ngIf="userType === 'Trader'"  style="display: flex; margin-top: 10px;" (click)="navigateToBusiness()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/business.png" style="width: 40px; margin-top: 0px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Are you business? Add profile for free                  </span> </p>               
                </div>
      
                <hr style="height: 4px; background-color: aquamarine;">
                <p style="font-size: 20px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span class="main-heading"><b>Search Bike</b></span> </p>               
                
      
                <div style="display: flex ; " (click)="navigateToForBikeSale()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-sale.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center;  width: 100%;"> <span style="color: rgb(143, 143, 143);">For Sale</span> </p>               
                </div>
                 
                <div style="display: flex; "> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-parts.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Parts & Accessories                  </span> </p>               
                </div>
              
                <hr style="height: 4px; background-color: aquamarine;">
                <p style="font-size: 14px; margin-top: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span class="main-heading"><b>Post Bike</b></span> </p>               
                <div style="display: flex; justify-content: center;">
                  <button style="background-color: rgb(240, 24, 24); color: white; border-radius: 10px; padding: 15px; padding-left: 25px; padding-right: 25px; width: 48%; margin:3px" (click)="navigateToPostBikeSale()">For Sale</button>  
                        </div><hr style="height: 4px; background-color: aquamarine;">
                <p class="main-heading" style="justify-content: center; display: flex;">Search For Businesses</p>
                <div style="display: flex; " (click)="navigateToBikeShowroom()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-showroom.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px;  text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Showroom</span> </p>               
                </div>
               
                <div style="display: flex; " (click)="navigateToBikeDealer()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/car-dealer.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px;  text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Dealer</span> </p>               
                </div>
                
                <div style="display: flex; " (click)="navigateToBikeWorkshop()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/workshop.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px;  text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Workshop</span> </p>               
                </div>
               
                <div style="display: flex; " (click)="navigateToSchool()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/driving-school.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px;  text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Driving School</span> </p>               
                </div>
             
                <div style="display: flex; "(click)="navigateToBikeImporter()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/importer.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px;  text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Importer</span> </p>               
                </div>
              
                <div style="display: flex; " (click)="navigateToBikeExporter()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/exporter.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Exporter</span> </p>               
                </div>

                <div style="display: flex; " (click)="navigateToBikeInsurance()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/insurance.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px;  text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Insurance</span> </p>               
                </div>
                
                <div style="display: flex; " (click)="navigateToBikeLeasing()"> 
                  <img src="../../../assets/Menu-items/After login/Car menu/leasing.png" style="width: 40px; margin-top: 10px; margin-left: 20px;">
                  <p style="font-size: 14px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143);">Search Leasing</span> </p>               
                </div>
              
              </div>


              <div style="text-align: -webkit-center;"  >
                <ion-card class="btn-car" style="border-radius: 18px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-top: 20px; background: #fce4ec;">
                  <ion-card-header>
                    <ion-row>
                      <ion-col width="60%">
                        <p style="font-size: 12px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: black; font-weight: bold;"><b>Commercial Vehicles</b></span> </p>
                      </ion-col>
                      <ion-col width="60%" >
                        <img src="../../../assets/Menu-items/commercial.png" style="width: 60px; margin-top: -20px; margin-bottom: -30px; margin-left: 20px;">
                      </ion-col>
                    </ion-row>
                    <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </div>


              <div style="text-align: -webkit-center;"  >
                <ion-card class="btn-car" style="border-radius: 18px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-top: 20px; background: #fff3e0;">
                  <ion-card-header>
                    <ion-row>
                      <ion-col width="60%">
                        <p style="font-size: 13px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: black; font-weight: bold;"><b>Machinery</b></span> </p>
                      </ion-col>
                      <ion-col width="60%" >
                        <img src="../../../assets/Menu-items/machinery.png" style="width: 60px; margin-top: -20px; margin-bottom: -30px; margin-left: 20px;">
                      </ion-col>
                    </ion-row>
                    <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </div>

              <div style="text-align: -webkit-center;"  >
                <ion-card class="btn-car" style="border-radius: 18px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); margin-top: 20px; background: #e3f2fd;">
                  <ion-card-header>
                    <ion-row>
                      <ion-col width="60%">
                        <p style="font-size: 13px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: black; font-weight: bold;"><b>Industrial Plants</b></span> </p>
                      </ion-col>
                      <ion-col width="60%" >
                        <img src="../../../assets/Menu-items/plants.png" style="width: 60px; margin-top: -20px; margin-bottom: -30px; margin-left: 20px;">
                      </ion-col>
                    </ion-row>
                    <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </div>

                            

          <div style="display: flex;"> 
            <img src="../../../assets/Menu-items/contact us.png" style="width: 40px; margin-top: 20px; margin-left: 20px;">
            <p style="font-size: 16px; margin-top: 25px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143); font-weight: bold;"><b>Contact Us</b></span> </p>
                                 
          </div>

        

          <div style="display: flex;"> 
            <img src="../../../assets/Menu-items/terms.png" style="width: 40px; margin-top: 20px; margin-left: 20px;">
            <p style="font-size: 16px; margin-top: 25px; text-align: center; padding-right: 10px; width: 100%;"> <span style="color: rgb(143, 143, 143); font-weight: bold;"><b>Term & the Condition</b></span> </p>
                                 
          </div>


        </ion-card-header>
      </ion-card>
    </div>

  </div></ion-content>
