.wrapper {
    display: flex;
  }


  .country-div {
    flex: 0 0 30%; /* 30% width, do not grow or shrink */
    margin-right: 20px; /* Optional: Adjust spacing between divs */
  }

  .mobile-div {
    flex: 0 0 65%; /* 70% width, do not grow or shrink */
  }

  .image-container {
    position: relative;
    text-align: center;
  }
  .hide-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; /* Ensure the button is above the image */
  }
  