

.btn-white{
    margin-left: 0px;
    margin-top: -15px;
    height: 70px !important;
    // width: 400px !important;
    width: 100% !important;
    border-radius: 10px !important;
    background: white !important;
    border: 2px !important;
  }
  .clr-white{
    color: gray !important;
    margin-top: -45px;
  }
  .btn-filter{
    margin-right: 20px;
    margin-top: -15px;
    height: 40px !important;
    // width: 400px !important;
    width: 130px !important;
    // border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: rgb(245 245 245 / 98%) !important;
    border: 2px !important;
    box-shadow: 0 0 10px;
  }
  
  .btn-dark{
    margin-left: -16px;
    margin-top: -25px;
    height: 5px !important;
    // width: 400px !important;
    width: 115% !important;
    border-radius: 0px !important;
    // background: white !important;
    background: rgba(0 0 0 / 12%) !important;
    border: 2px !important;
  }
  
  
  .btn-price{
    margin-right: 30px;
    margin-top: -50px;
    height: 30px !important;
    // width: 400px !important;
    width: 120px !important;
    // border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: white !important;
    border: 2px !important;
    box-shadow: 0 0 10px;
  }
  
  
  .card-supreme{
    margin-top: -60px;
    margin-left: auto;
    margin-right: auto;
    height: 50px !important;
    // width: 400px !important;
    width: auto;
    max-width: 200px;
    // border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: #0dcaf024 !important;
    border: 2px !important;
    box-shadow: 0 0 10px;
    border-radius: 15px;
  }
  .supreme{
    // margin-right: 30px;
    margin-top: -250px;
    height: 30px !important;
    // width: 400px !important;
    width: 70px !important;
    // border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: rgb(13 202 240 / 71%) !important;
    border: 2px !important;
    box-shadow: 0 0 10px;
  }
  .hotspot{
    // margin-right: 30px;
    margin-top: -251px;
    height: 30px !important;
    // width: 400px !important;
    width: 70px !important;
    // border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: rgb(255 193 7 / 57%) !important;
    border: 2px !important;
    box-shadow: 0 0 10px;
  }
  .card-hotspot{
    margin-right: auto;
    margin-left: auto;
    margin-top: -40px;
    height: 45px !important;
    // width: 400px !important;
    width: auto;
    max-width: 200px;
    // border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: #ffc10733 ;
    border: 2px !important;
    border-radius: 15px;
    box-shadow: 0 0 10px;
  }
  
  .btn-gray{
    margin-left: 0;
    margin-top: -40px;
    height: 30px !important;
    // width: 400px !important;
    width: 100% !important;
     border-radius: 0px !important;
    // background: #f5f5f538 !important;
    background: #8080803d !important;
    // border: 2px !important;
    // box-shadow: 0 0 10px;
  }
  
  .btn-card{
    margin-left: 10px;
    margin-top: -15px;
    height: 550px;
    // width: 400px !important;
    width: 95% !important;
    border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: white !important;
    // border: 2px !important;
    box-shadow: 0 0 10px;
  }
  
  .btn-supreme{
    margin-left: 10px;
    margin-top: -20px;
    height:640px;
    max-height: 700px;
    // width: 400px !important;
    width: 95% !important;
    border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: white !important;
    // border: 2px !important;
    box-shadow: 0 0 10px;
  }
  
  