<ion-content>    <p style="font-size: 16px; text-align: center; color: gray; margin-top: 20px;">Search Filters</p>
  <div style="text-align: right; margin-top: -30px; margin-bottom: 15px; margin-right: 20px;">
  <ion-icon name="close" (click)="back()" ></ion-icon></div>
  <hr style="background-color: black;">
  <ion-row style="margin-top: 25px;">
    <img src="../../../assets/Bikesection/bikeadd/bike-condition.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: -10px" fill="clear;" />
    <p style="margin-left: 20px;">Bike condition</p>
  </ion-row>
  
  <div style="width: 100%; margin-left: 30px; text-align: center; margin-top: -20px;">
    <ion-col>
      <ion-row style="display: flex; justify-content: left;">
        <ion-button [color]="selectedcon.includes('New') ? 'danger' : 'light'" class="condition" style="width: 70px; margin-left: 15px;" (click)="selectedcondition('New')">New</ion-button>
        <ion-button [color]="selectedcon.includes('Used') ? 'danger' : 'light'" class="condition" style="margin-left: 13px;" (click)="selectedcondition('Used')">Used</ion-button>
        <ion-button [color]="selectedcon.includes('Re-condition') ? 'danger' : 'light'" class="condition" style="width: 130px; margin-left: 13px;" (click)="selectedcondition('Re-condition')">Re-condition</ion-button>
      </ion-row>
    </ion-col>
  </div>
  
  <ion-item-divider style="height: 1px; margin-top: -40px; width: 100%; margin-left: 0px;"></ion-item-divider>
  
  <ion-row>
    <img src="../../../assets/Bikesection/bikeadd/bike-location.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Bike location</p>
    <div id="click-trigger_city" [hidden]="!showcar" trigger="click-trigger_city" triggerAction="click">
      <img src="../../../assets/extra-icon/add.png" (change)="getcitylist()" style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;" fill="clear;"/>
    </div>
  </ion-row>
  
<div *ngIf="divVisible">
<ion-badge *ngFor="let City of selectedCity" style="margin-left: 45px; height: 35px; width: 120px; background-color: lightgray;"><p style="font-size: small; margin-top: 9px; margin-left: -25px; color: black;">{{ City }}</p>
<div style="margin-top: -28px; font-size: 20px; text-align: right; color: #0000ff96;"><ion-icon name="close-circle" (click)="hideDiv(City)"></ion-icon></div></ion-badge>
</div>
<ion-popover trigger="click-trigger_city" triggerAction="click">
<ng-template>
<ion-content class="ion-padding">
  <p style="font-size: 16px; text-align: center;">Select City</p>
  <ion-searchbar type="text" debounce="500" (ionChange)="filterCities($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let city of filteredCities" (click)="selectCity(city)">
      {{ city }}
    </ion-item>
  </ion-list>  </ion-content>  </ng-template>  </ion-popover>
<ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
<ion-row>
  <!-- Make section trigger -->
  <img src="../../../assets/Bikesection/bikeadd/bike-make.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;" />
  <p style="margin-left: 20px; margin-top: 20px;">Make</p>

  <!-- Add button for trigger -->
  <div [hidden]="showmake" id="click-trigger_make" trigger="click-trigger_make" triggerAction="click">
    <img src="../../../assets/extra-icon/add.png" style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;" fill="clear;" />
  </div>
</ion-row>

<!-- Display selected Make in the div -->
<div *ngIf="makedivVisible">
  <ion-badge *ngFor="let item of mergecararray" style="margin-left: 45px; height: 35px; width: 250px; background-color: lightgray;">
    <p style="font-size: small; margin-top: 9px; margin-left: -10px; color: black;">{{ item }}</p>
    <div style="margin-top: -28px; font-size: 20px; text-align: right; color: #0000ff96;">
      <ion-icon name="close-circle" (click)="makeDiv(item)"></ion-icon>
    </div>
  </ion-badge>
</div>

<!-- Popover for Make selection -->
<ion-popover trigger="click-trigger_make" triggerAction="click" cssClass="full-screen-popover">
  <ng-template>
    <ion-content class="full-screen-content">
      <p style="font-size: 16px; text-align: center;">Select Make</p>

      <!-- Search bar for filtering makes -->
      <ion-searchbar 
        type="text" 
        debounce="500" 
        (ionInput)="filterMakes($event)" 
        [value]="searchTerm"
        placeholder="Search Makes"
        clearInput="true"
        style="width: 100%;">
      </ion-searchbar>

      <!-- Display makes in the list -->
      <ion-list>
        <ion-item *ngFor="let item of filteredMakes" (click)="selectMake(item)">
          {{ item }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<!-- Make section trigger -->
<div [hidden]="!showmodel">
  <ion-row>
    <!-- Make section trigger -->
    <img
      src="../../../assets/Bikesection/bikeadd/bike-make.png"
      style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;"
      fill="clear"
    />
    <p style="margin-left: 20px; margin-top: 20px;">Model & Version</p>

    <!-- Add button for triggering the popover -->
    <div
      [hidden]="modeldivVisible"
      id="click-trigger_model"
      trigger="click-trigger_model"
      triggerAction="click"
    >
      <img
        src="../../../assets/extra-icon/add.png"
        style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;"
        fill="clear"
      />
    </div>
  </ion-row>

  <!-- Popover for Model and Version selection -->
  <ion-popover trigger="click-trigger_model" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">
        <p style="font-size: 16px; text-align: center;">Select Model</p>
        <ion-searchbar type="text" debounce="500" (ionChange)="filterModels($event)"></ion-searchbar>
        <ion-list>
          <ion-item *ngFor="let model of filteredModels" (click)="selectModel(model)">
            {{ model }}
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</div>

<!-- Display selected model-version in the selected div -->



<div *ngIf="modeldivVisible">
    <ion-badge style="margin-left: 45px; height: 35px; width: 150px; background-color: lightgray;"><p style="font-size: small; margin-top: 9px; margin-left: -10px; color: black;">{{ selectedModel }}</p>
      <div style="margin-top: -28px; font-size: 20px; text-align: right; color: #0000ff96;"><ion-icon name="close-circle" (click)="modelDiv()"></ion-icon></div></ion-badge>
    </div>

            <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
  <ion-row><img src="../../../assets/Bikesection/bikeadd/price.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Price</p></ion-row>
      <div>          <ion-row>            <ion-col size="6">
            <ion-item style="border: 2px solid black;
              margin: 10px;                border-radius: 10px;
              box-shadow: 0 5px 10px rgb(0 0 0);">
              <ion-label>From</ion-label>                <select [(ngModel)]="selectedLowPrice" (change)="updateHighPriceOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
                <option value="100000">100000</option>
                <option value="500000">500000</option>
                <option value="600000">600000</option>
                <option value="700000">700000</option>
                <option value="800000">800000</option>
                <option value="900000">900000</option>
                <option value="1000000">1000000</option>
              </select>              </ion-item>            </ion-col>  <ion-col size="6">
            <ion-item style="border: 2px solid black; margin: 10px; border-radius: 10px; box-shadow: 0 5px 10px rgb(0 0 0);">
              <ion-label>To</ion-label>
              <select [(ngModel)]="selectedHighPrice" (change)="updateHighPriceOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
                <option *ngFor="let priceOption of highPriceOptions" [value]="priceOption">{{ priceOption }}</option>
              </select>              </ion-item>            </ion-col>                     </ion-row>
            </div>      <hr style="background-color: black;">
  <ion-row><img src="../../../assets/extra-icon/year.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Make year</p></ion-row>
  <ion-row>      <ion-col size="6">
      <ion-item style="border: 2px solid black;
        margin: 10px;          border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0);">
        <ion-label>From</ion-label>
        <select [(ngModel)]="selectedLowYear" (change)="updateHighYearOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
          <option *ngFor="let year of filteredLowYears" [value]="year">{{ year }}</option>
        </select>        </ion-item>      </ion-col>      <ion-col size="6">
      <ion-item style="border: 2px solid black;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0);">
        <ion-label>To</ion-label>
        <select [(ngModel)]="selectedHighYear" (change)="updateFilteredHighYears()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
          <option *ngFor="let year of filteredHighYears" [value]="year">{{ year }}</option>
        </select>
      </ion-item>      </ion-col>    </ion-row>   
       <hr style="background-color: black;">
  <ion-row><img src="../../../assets/extra-icon/mileage.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Mileage in(km)</p></ion-row>
<ion-row>
  <ion-col size="6">
    <ion-item style="border: 2px solid black;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgb(0 0 0);">
      <ion-label>From</ion-label>
      <select [(ngModel)]="selectedLowMilage" (change)="updateHighMilageOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
        <option *ngFor="let milageOption of lowMilages" [value]="milageOption">{{ milageOption }}</option>
      </select>
    </ion-item>
  </ion-col>
  <ion-col size="6">
    <ion-item style="border: 2px solid black;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgb(0 0 0);">
      <ion-label>To</ion-label>
      <select [(ngModel)]="selectedHighMilage" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
        <option *ngFor="let milageOption of filteredHighMilages" [value]="milageOption">{{ milageOption }}</option>
      </select>
    </ion-item>
  </ion-col>
</ion-row>  
   <hr style="background-color: black;">
   <ion-row><img src="../../../assets/Bikesection/bikeadd/petrol-pump.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Fuel type</p></ion-row>
    <div style="width: 100%; margin-left: 30px; text-align: center;">
      <ion-col>          <ion-row style="display: flex; justify-content: center;">
          <ion-button [color]="selectedFuel.includes('Petrol') ? 'danger' : 'light'" class="fuel" (click)="selectFuel('Petrol')">Petrol</ion-button>
          <ion-button [color]="selectedFuel.includes('CNG') ? 'danger' : 'light'" class="fuel" style="width: 90px; margin-left: 15px;" (click)="selectFuel('CNG')">CNG</ion-button>
          <ion-button [color]="selectedFuel.includes('Electric') ? 'danger' : 'light'" class="fuel" style="margin-left: 15px;" (click)="selectFuel('Electric')">Electric</ion-button>
        </ion-row>              
    </ion-col>
    </div>      <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
   
    <ion-row><img src="../../../assets/Bikesection/bikeadd/enginetype.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
      <p style="margin-left: 20px; margin-top: 20px;">Engine type</p></ion-row>
      
      <div style="width: 100%; margin-left: 30px; text-align: center;">
        <ion-col>
          <ion-row style="display: flex; justify-content: center;">
            <ion-button [color]="selectedengineType === '2 Stroke' ? 'danger' : 'light'" class="fuel" (click)="selectengentype('2 Stroke')">2 Stroke</ion-button>
            <ion-button [color]="selectedengineType === '4 Stroke' ? 'danger' : 'light'" class="fuel" style="width: 100px; margin-left: 13px;" (click)="selectengentype('4 Stroke')">4 Stroke</ion-button>
            <ion-button [color]="selectedengineType === 'Electric' ? 'danger' : 'light'" class="fuel" style="width: 90px; margin-left: 15px;" (click)="selectengentype('Electric')">Electric</ion-button>
          </ion-row>
        </ion-col>
      </div>
  
    <ion-item-divider style="height: 1px; margin-top: 0px; width: 100%; margin-left: 0px;"></ion-item-divider>
        <ion-row><img src="../../../assets/Bikesection/bikeadd/body-type.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Body type</p></ion-row>    <swiper-container [slidesPerView]="3" [spaceBetween]="10" [loop]="true" style="margin-top: 20px; height: 50px;">
    <swiper-container [slidesPerView]="3" [spaceBetween]="10" [loop]="true" style="margin-top: 20px; height: 50px;">
      <swiper-slide (click)="selectCategory('Sports')" [style.backgroundColor]="selectedCategory === 'Sports' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
        <ion-icon name="speedometer-outline" style="font-size: 30px; margin-top: -20px;"></ion-icon>
        <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Sports</ion-label>
      </swiper-slide>
    
      <swiper-slide (click)="selectCategory('Cruiser')" [style.backgroundColor]="selectedCategory === 'Cruiser' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
        <ion-icon name="bicycle-outline" style="font-size: 30px; margin-top: -20px;"></ion-icon>
        <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Cruiser</ion-label>
      </swiper-slide>
    
      <swiper-slide (click)="selectCategory('Standard')" [style.backgroundColor]="selectedCategory === 'Standard' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
        <ion-icon name="bicycle" style="font-size: 30px; margin-top: -20px;"></ion-icon>
        <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Standard</ion-label>
      </swiper-slide>
    
      <swiper-slide (click)="selectCategory('Touring')" [style.backgroundColor]="selectedCategory === 'Touring' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
        <ion-icon name="map-outline" style="font-size: 30px; margin-top: -20px;"></ion-icon>
        <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Touring</ion-label>
      </swiper-slide>
    
      <swiper-slide (click)="selectCategory('Adventure')" [style.backgroundColor]="selectedCategory === 'Adventure' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
        <ion-icon name="compass-outline" style="font-size: 30px; margin-top: -20px;"></ion-icon>
        <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Adventure</ion-label>
      </swiper-slide>
    
      <swiper-slide (click)="selectCategory('Scooter')" [style.backgroundColor]="selectedCategory === 'Scooter' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
        <ion-icon name="bicycle-outline" style="font-size: 30px; margin-top: -20px;"></ion-icon>
        <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Scooter</ion-label>
      </swiper-slide>
    
      <swiper-slide (click)="selectCategory('Moped')" [style.backgroundColor]="selectedCategory === 'Moped' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
        <ion-icon name="bicycle-outline" style="font-size: 30px; margin-top: -20px;"></ion-icon>
        <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Moped</ion-label>
      </swiper-slide>
    </swiper-container>   
    <swiper-slide (click)="selectCategory('Coupe')" [style.backgroundColor]="selectedCategory === 'Coupe' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
      <img src="../../../assets/extra-icon/coupe.png" style="height: 40px; width: 40px; margin-top: -20px;" />
      <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Coupe</ion-label>
    </swiper-slide>    
    <swiper-slide (click)="selectCategory('Estate')" [style.backgroundColor]="selectedCategory === 'Estate' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
      <img src="../../../assets/extra-icon/estate.png" style="height: 40px; width: 40px; margin-top: -20px;" />
      <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Estate</ion-label>
    </swiper-slide>    
    <swiper-slide (click)="selectCategory('Saloon')" [style.backgroundColor]="selectedCategory === 'Saloon' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
      <img src="../../../assets/extra-icon/saloon.png" style="height: 40px; width: 40px; margin-top: -20px;" />
      <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Saloon</ion-label>
    </swiper-slide>    
    <swiper-slide (click)="selectCategory('MPV')" [style.backgroundColor]="selectedCategory === 'MPV' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
      <img src="../../../assets/extra-icon/mpv.png" style="height: 40px; width: 40px; margin-top: -20px;" />
      <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">MPV</ion-label>
    </swiper-slide>    
    <swiper-slide (click)="selectCategory('SUV')" [style.backgroundColor]="selectedCategory === 'SUV' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
      <img src="../../../assets/extra-icon/suv.png" style="height: 40px; width: 40px; margin-top: -20px;" />
      <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">SUV</ion-label>
    </swiper-slide>    
    <swiper-slide (click)="selectCategory('Hatchback')" [style.backgroundColor]="selectedCategory === 'Hatchback' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
      <img src="../../../assets/extra-icon/hatchback.png" style="height: 40px; width: 40px; margin-top: -20px;" />
      <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Hatchback</ion-label>
    </swiper-slide>    
    <swiper-slide (click)="selectCategory('Jeep')" [style.backgroundColor]="selectedCategory === 'Jeep' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
      <img src="../../../assets/extra-icon/jeep.png" style="height: 40px; width: 40px; margin-top: -20px;" />
      <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Jeep</ion-label>
    </swiper-slide>    
    <swiper-slide (click)="selectCategory('Pick-up')" [style.backgroundColor]="selectedCategory === 'Pick-up' ? '#ffc6c6' : 'transparent'" style="max-width: 120px;">
      <img src="../../../assets/extra-icon/pick-up.png" style="height: 40px; width: 40px; margin-top: -20px;" />
      <ion-label style="color: black; font-size: 12px; margin-top: -5px; margin-left: 0px;">Pick-up</ion-label>
    </swiper-slide>    </swiper-container>
  <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
    <ion-row><img src="../../../assets/extra-icon/transmission.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">transmission</p></ion-row>
    <div style="width: 100%; margin-left: 25px; text-align: center;">
      <ion-row style="display: flex; justify-content: center;">
        <ion-button [color]="selectedTransmission.includes('Auto') ? 'danger' : 'light'" class="fuel" style="width: 100px;" (click)="selectTransmission('Auto')">Auto</ion-button>
        <ion-button [color]="selectedTransmission.includes('Manual') ? 'danger' : 'light'" class="fuel" style="width: 100px; margin-left: 15px;" (click)="selectTransmission('Manual')">Manual</ion-button>
      </ion-row>        
    </div>      
    <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
    <ion-row><img src="../../../assets/Bikesection/bikeadd/bike-color.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
      <p style="margin-left: 20px; margin-top: 20px;">Body color</p></ion-row>
      <swiper-container [slidesPerView]="5" [spaceBetween]="5" [loop]="true" style="margin-top: 15px; height: 60px;">
        <swiper-slide (click)="selectColor('Red')">
          <div class="btn-capsule3" style="background-color: red;" [class.selected]="selectedColor === 'Red'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Red</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('White')">
          <div class="btn-capsule3" style="background-color: white;" [class.selected]="selectedColor === 'White'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">White</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Green')">
          <div class="btn-capsule3" style="background-color: green;" [class.selected]="selectedColor === 'Green'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Green</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Gray')" style="max-width: 100px;">
          <div class="btn-capsule3" style="background-color: gray;" [class.selected]="selectedColor === 'Gray'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Gray</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Black')">
          <div class="btn-capsule3" style="background-color: black;" [class.selected]="selectedColor === 'Black'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Black</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Silver')">
          <div class="btn-capsule3" style="background-color: silver;" [class.selected]="selectedColor === 'Silver'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Silver</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Blue')">
          <div class="btn-capsule3" style="background-color: blue;" [class.selected]="selectedColor === 'Blue'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Blue</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Yellow')">
          <div class="btn-capsule3" style="background-color: yellow;" [class.selected]="selectedColor === 'Yellow'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Yellow</p>
          </div>          </swiper-slide>          <swiper-slide (click)="selectColor('purple')">
          <div class="btn-capsule3" style="background-color: purple;" [class.selected]="selectedColor === 'Purple'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Purple</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Orange')">
          <div class="btn-capsule3" style="background-color: orange;" [class.selected]="selectedColor === 'Orange'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Orange</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Pink')">
          <div class="btn-capsule3" style="background-color: pink;" [class.selected]="selectedColor === 'Pink'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Pink</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Brown')">
          <div class="btn-capsule3" style="background-color: brown;" [class.selected]="selectedColor === 'Brown'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Brown</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Beige')">
          <div class="btn-capsule3" style="background-color: beige;" [class.selected]="selectedColor === 'Beige'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Beige</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('Teal')">
          <div class="btn-capsule3" style="background-color: teal;" [class.selected]="selectedColor === 'Teal'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Teal</p>
          </div>          </swiper-slide>
      </swiper-container>
    
        <ion-item-divider style="height: 1px; margin-top: -15px; width: 100%; margin-left: 0px;"></ion-item-divider>
  <ion-row><img src="../../../assets/extra-icon/seller-type.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Seller type</p></ion-row>
  <div style="width: 100%; margin-left: 25px; text-align: center;">
    <ion-row style="display: flex; justify-content: center;">
      <ion-button [color]="selectedSellerType === 'Private' ? 'danger' : 'light'" class="seller" style="width: 100px;" (click)="selectSellerType('Private')">Private</ion-button>
      <ion-button [color]="selectedSellerType === 'Dealer' ? 'danger' : 'light'" class="seller" style="width: 100px; margin-left: 15px;" (click)="selectSellerType('Dealer')">Dealer</ion-button>
    </ion-row>
  </div>  
   <hr style="background-color: black;">
      <div style="text-align: -webkit-center; margin-top: 15px; position: sticky; bottom: 0px; z-index: 1; background-color: white;">
        <ion-row style="text-align: -webkit-center;">
          <ion-col>
            <button id="reset" type="reset" (click)="resetAll()">Reset all</button>
        <button id="submit" (click)="search()">Search</button>
        </ion-col>        </ion-row>      </div>  
    <ion-item-divider></ion-item-divider>

  </ion-content>
