<!-- <ion-header>
  <ion-toolbar>
    <ion-title>sale-filters</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>


  <!-- <ion-header>
    <ion-toolbar>
      <ion-title>main-search-filters</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <!-- <ion-header>
    <ion-toolbar class ="bg-toolbar" >
      <ion-buttons slot="start"class="bg-red" style="height: 56px !important; width: 56px !important; margin: -4px !important;">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <strong style="margin-top: 10px;color: white; ">Filters</strong>
    </ion-toolbar>
  </ion-header> -->
  
    <p style="font-size: 16px; text-align: center; color: gray; margin-top: 20px;">Search Filters</p>
    <div style="text-align: right; margin-top: -30px; margin-bottom: 15px; margin-right: 20px;">
    <ion-icon name="close" (click)="back()" ></ion-icon></div>
    <hr style="background-color: black;">
  
    <ion-row style="margin-top: 25px;">
      <img src="../../assets/plant/conveyor-belt.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: -10px" fill="clear;" />
      <p style="margin-left: 20px;">Vehicle condition</p></ion-row>
  
  <div style="width: 100%; margin-left: 30px; text-align: center; margin-top: -20px;">
  <ion-col>
    <ion-row style="display: flex; justify-content: left;">
      <ion-button [color]="selectedcon.includes('New') ? 'danger' : 'light'" class="condition" style="width: 70px; margin-left: 15px;" (click)="selectedcondition('New')">New</ion-button>
      <ion-button [color]="selectedcon.includes('Used') ? 'danger' : 'light'" class="condition" style="margin-left: 13px;" (click)="selectedcondition('Used')">Used</ion-button>
      <ion-button [color]="selectedcon.includes('Re-Conditioned') ? 'danger' : 'light'" class="condition" style="width: 130px; margin-left: 13px;" (click)="selectedcondition('Re-Conditioned')">Re-Conditioned</ion-button>
    </ion-row>
    
    
  </ion-col>
  </div>
  
  <ion-item-divider style="height: 1px; margin-top: -40px; width: 100%; margin-left: 0px;"></ion-item-divider>
  
    
  <ion-row>
    <img src="../../../assets/extra-icon/location.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Vehicle location</p>
    <div id="click-trigger_city" [hidden]="!showcar" trigger="click-trigger_city" triggerAction="click">
      <img src="../../../assets/extra-icon/add.png" (change)="getcitylist()" style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;" fill="clear;"/>
    </div>
  </ion-row>
  
<div *ngIf="divVisible">
<ion-badge *ngFor="let City of selectedCity" style="margin-left: 45px; height: 35px; width: 120px; background-color: lightgray;"><p style="font-size: small; margin-top: 9px; margin-left: -25px; color: black;">{{ City }}</p>
<div style="margin-top: -28px; font-size: 20px; text-align: right; color: #0000ff96;"><ion-icon name="close-circle" (click)="hideDiv(City)"></ion-icon></div></ion-badge>
</div>
<ion-popover trigger="click-trigger_city" triggerAction="click">
<ng-template>
<ion-content class="ion-padding">
  <p style="font-size: 16px; text-align: center;">Select City</p>
  <ion-searchbar type="text" debounce="500" (ionChange)="filterCities($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let city of filteredCities" (click)="selectCity(city)">
      {{ city }}
    </ion-item>
  </ion-list>  </ion-content>  </ng-template>  </ion-popover>
  <ion-item-divider style="height: 1px; margin-top: -40px; width: 100%; margin-left: 0px;"></ion-item-divider>
  
    
  <ion-row>
    <img src="../../../assets/extra-icon/location.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Country</p>
    <div id="click-trigger_country" [hidden]="!showcountry" trigger="click-trigger_country" triggerAction="click">
      <img src="../../../assets/extra-icon/add.png" (change)="getcitylist()" style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;" fill="clear;"/>
    </div>
  </ion-row>
  
<div *ngIf="divcountry">
<ion-badge *ngFor="let Country of selectedCountry" style="margin-left: 45px; height: 35px; width: 120px; background-color: lightgray;"><p style="font-size: small; margin-top: 9px; margin-left: -25px; color: black;">{{ Country }}</p>
<div style="margin-top: -28px; font-size: 20px; text-align: right; color: #0000ff96;"><ion-icon name="close-circle" (click)="  hideDivcountry(Country)"></ion-icon></div></ion-badge>
</div>
<ion-popover trigger="click-trigger_country" triggerAction="click">
<ng-template>
<ion-content class="ion-padding">
  <p style="font-size: 16px; text-align: center;">Select Country</p>
  <ion-searchbar type="text" debounce="500" (ionChange)="filterCountryes($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let country of filteredCountryes" (click)="selectCountry(country)">
      {{ country }}
    </ion-item>
  </ion-list>  </ion-content>  </ng-template>  </ion-popover>
<ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>

<div >
  <ion-row>
    <!-- Make section trigger -->
    <img
      src="../../assets/plant/chemical.png"
      style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;"
      fill="clear"
    />
    <p style="margin-left: 20px; margin-top: 20px;">Type & Sub Type</p>

    <!-- Add button for triggering the popover -->
    <div
      [hidden]="showmodel2"
      id="click-trigger-model-version"
      trigger="click-trigger-model-version"
      triggerAction="click"
    >
      <img
        src="../../../assets/extra-icon/add.png"
        style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;"
        fill="clear"
      />
    </div>
  </ion-row>

  <!-- Popover for Model and Version selection -->
  <ion-popover
    trigger="click-trigger-model-version"
    triggerAction="click"
    cssClass="full-screen-popover"
  >
    <ng-template>
      <ion-content class="full-screen-content">
        <p style="font-size: 16px; text-align: center;">Select Model & Version</p>

        <!-- Search bar for filtering combined model-version -->
        <ion-searchbar
          type="text"
          debounce="500"
          (ionInput)="filterCombinedModelVersions($event)"
          [value]="searchTerm"
          placeholder="Search Model & Version"
          clearInput="true"
          style="width: 100%;"
        ></ion-searchbar>

        <!-- Display combined model-version in the list -->
        <ion-list>
          <ion-item
            *ngFor="let combined of filteredCombinedModelVersions"
            (click)="selectModelVersion(combined)"
          >
            {{ combined }}
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <div *ngIf="selectedModelVersion" style="margin-left: 10px; margin-top: 20px;">
    <ion-badge
      style="background-color: lightgray; padding: 15px 30px;  color: black; display: inline-block; position: relative;"
    >
      {{ selectedModelVersion }}
      <div style="position: absolute; top: 0; right: 0; font-size: 22px; color: #0000ff96; cursor: pointer;">
        <ion-icon name="close-circle" (click)="clearSelectedModelVersion()"></ion-icon>
      </div>
    </ion-badge>
  </div>
</div>
        <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>

  
    

    
            
  
    <ion-row><img src="../../../assets/extra-icon/charges.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">About Charges</p></ion-row>
  
    <div style="width: 100%; margin-left: 30px; text-align: center; margin-top: -20px;">
      <ion-col>
        <ion-row style="display: flex; justify-content: left;">
          <ion-button [color]="selectedCharges.includes('Per Day') ? 'danger' : 'light'" class="fuel" style="width: 105px; margin-left: 15px;" (click)="toggleChargeSelection('Per Day')">Daily</ion-button>
          <ion-button [color]="selectedCharges.includes('Per Week') ? 'danger' : 'light'" class="fuel" style="width: 110px; margin-left: 10px;" (click)="toggleChargeSelection('Per Week')">Weekly</ion-button>
          <ion-button [color]="selectedCharges.includes('Per Month') ? 'danger' : 'light'" class="fuel" style="width: 115px; margin-left: 10px;" (click)="toggleChargeSelection('Per Month')">Monthly</ion-button>
        </ion-row>
        <ion-row style="margin-top: 10px; display: flex; justify-content: left;">
          <ion-button [color]="selectedCharges.includes('On Contract') ? 'danger' : 'light'" class="fuel" style="width: 120px; margin-left: 15px;" (click)="toggleChargeSelection('On Contract')">On Contract</ion-button>
        </ion-row>
      </ion-col>
    </div>
  
    
         
    
    <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
  
  
    <ion-row><img src="../../../assets/extra-icon/price.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Charges Range</p></ion-row>
  
    <!-- <label for="price"></label> -->
      <!-- <select name="country" id="country"> -->
        <div>
          <ion-row>
            <ion-col size="6">
              <ion-item style="border: 2px solid black;
                margin: 10px;
                border-radius: 10px;
                box-shadow: 0 5px 10px rgb(0 0 0);">
                <ion-label>From</ion-label>
                <select [(ngModel)]="selectedLowPrice" (change)="updateHighPriceOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
                  <option value="1000">1000</option>
                  <option value="5000">5000</option>
                  <option value="6000">6000</option>
                  <option value="7000">7000</option>
                  <option value="8000">8000</option>
                  <option value="9000">9000</option>
                  <option value="10000">10000</option>
                </select>
              </ion-item>
            </ion-col>
            
            <ion-col size="6">
              <ion-item style="border: 2px solid black;
                margin: 10px;
                border-radius: 10px;
                box-shadow: 0 5px 10px rgb(0 0 0);">
                <ion-label>To</ion-label>
                <select [(ngModel)]="selectedHighPrice" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
                  <option *ngFor="let priceOption of highPriceOptions" [value]="priceOption">{{ priceOption }}</option>
                </select>
              </ion-item>
            </ion-col>
          </ion-row>
          
          
          
    </div>
  
    <hr style="background-color: black;">
  
    <ion-row><img src="../../../assets/extra-icon/year.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Make year</p></ion-row>
  
    <ion-row>
      <ion-col size="6">
        <ion-item style="border: 2px solid black;
          margin: 10px;
          border-radius: 10px;
          box-shadow: 0 5px 10px rgb(0 0 0);">
          <ion-label>From</ion-label>
          <select [(ngModel)]="selectedLowYear" (change)="updateHighYearOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
            <option *ngFor="let year of filteredLowYears" [value]="year">{{ year }}</option>
          </select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item style="border: 2px solid black;
          margin: 10px;
          border-radius: 10px;
          box-shadow: 0 5px 10px rgb(0 0 0);">
          <ion-label>TO</ion-label>
          <select [(ngModel)]="selectedHighYear" (change)="updateFilteredHighYears()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
            <option *ngFor="let year of filteredHighYears" [value]="year">{{ year }}</option>
          </select>
        </ion-item>
      </ion-col>
    </ion-row>
    
    
  
  
  
    <hr style="background-color: black;">
  
    <ion-row><img src="../../../assets/extra-icon/mileage.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Hour used</p></ion-row>
  <!--  -->
  
  <!--  -->
  <ion-row>
    <ion-col size="6">
      <ion-item style="border: 2px solid black;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0);">
        <ion-label>From</ion-label>
        <select [(ngModel)]="selectedLowMilage" (change)="updateHighMilageOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
          <option *ngFor="let milageOption of lowMilages" [value]="milageOption">{{ milageOption }}</option>
        </select>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item style="border: 2px solid black;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0);">
        <ion-label>TO</ion-label>
        <select [(ngModel)]="selectedHighMilage"style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
          <option *ngFor="let milageOption of filteredHighMilages" [value]="milageOption">{{ milageOption }}</option>
        </select>
      </ion-item>
    </ion-col>
  </ion-row>
  
  
   
  <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>

<ion-row>
  <img src="../../assets/plant/business.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;" />
  <p style="margin-left: 20px; margin-top: 20px;">About Services</p>
</ion-row>

<div style="width: 100%; margin-left: 30px; text-align: center; margin-top: -20px;">
  <ion-col>
    <ion-row style="display: flex; justify-content: left;">
      <ion-button
        [color]="instalationservice === 'Yes' ? 'danger' : 'light'"
        class="fuel"
        style="width: 105px; margin-left: 15px;"
        (click)="toggleInstalation()"
      >
        Instalation Service
      </ion-button>

      <ion-button
        [color]="mantaineneceandrepair === 'Yes' ? 'danger' : 'light'"
        class="fuel"
        style="width: 110px; margin-left: 10px;"
        (click)="toggleRepair()"
      >
        Maintenance & Repair
      </ion-button>

      <ion-button
        [color]="regularmantance === 'Yes' ? 'danger' : 'light'"
        class="fuel"
        style="width: 115px; margin-left: 10px;"
        (click)="toggleRegular()"
      >
        Regular Maintenance
      </ion-button>
    </ion-row>
  </ion-col>
</div><ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>

<ion-row style="margin-top: 25px;">
  <img src="../../assets/plant/height.png"
       style="height: 30px; width: 30px; margin-left: 10px; margin-top: -10px"
       fill="clear;" />
  <p style="margin-left: 20px;">Parameter Type</p>
</ion-row>

<div style="width: 100%; margin-left: 30px; text-align: center; margin-top: -20px;">
  <ion-col>
    <ion-row style="display: flex; justify-content: left;">
      <ion-button
        [color]="selectedparameter === 'Meters' ? 'danger' : 'light'"
        class="condition"
        style="width: 100px; margin-left: 15px;"
        (click)="selectedparametre('Meters')">
        In Meters
      </ion-button>

      <ion-button
        [color]="selectedparameter === 'Inches' ? 'danger' : 'light'"
        class="condition"
        style="width: 100px; margin-left: 13px;"
        (click)="selectedparametre('Inches')">
        In Inches
      </ion-button>

      <ion-button
        [color]="selectedparameter === 'Feets' ? 'danger' : 'light'"
        class="condition"
        style="width: 100px; margin-left: 13px;"
        (click)="selectedparametre('Feets')">
        In Feets
      </ion-button>
    </ion-row>
  </ion-col>
</div>
     <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
 
<ion-row>
  <img src="../../assets/plant/duration.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;" />
  <p style="margin-left: 20px; margin-top: 20px;">Hire Period</p>
  <div id="click-trigger_period" [hidden]="!showperiod" trigger="click-trigger_period" triggerAction="click">
    <img src="../../../assets/extra-icon/add.png" (change)="fetchPeriods()" style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;" fill="clear;" />
  </div>
</ion-row>

<div *ngIf="divperiod">
  <ion-badge style="margin-left: 45px; height: 35px; width: 120px; background-color: lightgray;">
    <p style="font-size: small; margin-top: 9px; margin-left: -25px; color: black;">{{ selectedperiod }}</p>
    <div style="margin-top: -28px; font-size: 20px; text-align: right; color: #0000ff96;">
      <ion-icon name="close-circle" (click)="hideDivperiod()"></ion-icon>
    </div>
  </ion-badge>
</div>

<ion-popover trigger="click-trigger_period" triggerAction="click">
  <ng-template>
    <ion-content class="ion-padding">
      <p style="font-size: 16px; text-align: center;">Select Time Period</p>

      <ion-searchbar type="text" debounce="500" (ionChange)="filterperiod($event)"></ion-searchbar>

      <ion-list>
        <ion-item *ngFor="let period of filteredperiodss" (click)="selectperiod(period)">
          {{ period.label }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

                
<ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>

    <ion-row><img src="../../assets/machinery-section/weight.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Weight</p></ion-row>
  
    <ion-row>
      <ion-col size="6">
        <ion-item style="border: 2px solid black;
          margin: 10px;
          border-radius: 10px;
          box-shadow: 0 5px 10px rgb(0 0 0);">
          <ion-label>From</ion-label>
          <select [(ngModel)]="selectedEngineLowSize" (change)="updateHighEngineSizes()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
            <option *ngFor="let size of engineSizes" [value]="size">{{ size }}</option>
          </select>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item style="border: 2px solid black;
          margin: 10px;
          border-radius: 10px;
          box-shadow: 0 5px 10px rgb(0 0 0);">
          <ion-label>To</ion-label>
          <select [(ngModel)]="selectedEngineHighSize" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
            <option *ngFor="let size of filteredHighEngineSizes" [value]="size">{{ size }}</option>
          </select>
        </ion-item>
      </ion-col>
    </ion-row>
    
    
  

     
          
          <ion-item-divider style="height: 1px; margin-top: -15px; width: 100%; margin-left: 0px;"></ion-item-divider>
  
    <ion-row><img src="../../assets/machinery-section/bargaining.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Seller type</p></ion-row>
  
    <div style="width: 100%; margin-left: 25px; text-align: center;">
      <ion-row style="display: flex; justify-content: center;">
        <ion-button [color]="selectedSellerType === 'Private' ? 'danger' : 'light'" class="seller" style="width: 100px;" (click)="selectSellerType('Private')">Private</ion-button>
        <ion-button [color]="selectedSellerType === 'Trader' ? 'danger' : 'light'" class="seller" style="width: 100px; margin-left: 15px;" (click)="selectSellerType('Trader')">Dealer</ion-button>
      </ion-row>
    </div>
  
  
     <hr style="background-color: black;">
  
        <div style="text-align: -webkit-center; margin-top: 15px; position: sticky; bottom: 0px; z-index: 1; background-color: white;">
          <ion-row style="text-align: -webkit-center;">
            <ion-col>
              <button id="reset" type="reset" (click)="resetAll()">Reset all</button>
          <button id="submit" (click)="search()">Search</button>
  
          </ion-col>
        </ion-row>
      </div>
  
      <ion-item-divider></ion-item-divider>
  
    </ion-content>
  