<!-- <ion-header>
  <ion-toolbar>
    <ion-title>ads-upgrade-hotspot</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <ion-toolbar class ="bg-toolbar" >
    <ion-buttons slot="start"class="bg-red" style="height: 56px !important; width: 56px !important; margin: -4px !important;">
      <!-- <ion-back-button defaultHref="/" style="color: #0dcaf066;"></ion-back-button> -->
      <img src="../../../assets/extra/back arrow.png" (click)="back()" style="width: 20px; margin-left: 20px;">
    </ion-buttons>
    <ion-label style="color: black; font-size: 17px;">Ads Upgrade to Hotspot</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container-fluid">
    <div class="row">
      <h2>By Upgrading to Hotspot your ad will have benefits</h2>
    </div>

    <div class="container">
    <div class="car">
      <div class="car1" style="text-align: left; margin-left: 0px;">
        <img src="../../../assets/extra/motorlist.png" alt="no exist" style="width: 90%; border-radius: 15px;">
        <img src="../../../assets/extra/motorcircle.png" style="width: 25%; margin-top: -40%; margin-left: 0%; border: 1px solid gray; border-radius: 35px; box-shadow: 0 0 10px;">

      </div>
      <div class="car2">
        <img src="../../../assets/extra/motorlist.png" alt="no exist" style="width: 80%; border-radius: 15px;">
        <img src="../../../assets/extra/motorcircle.png" style="width: 25%; margin-top: 55%; margin-left: -80%; border: 1px solid gray; border-radius: 35px; box-shadow: 0 0 10px;">

        <p style="color: gray;">Normal ad image</p>
      </div>
      <!-- <img src="../../../assets/Car-section/home-page/extra/2.jpg" alt="no exist"> -->
    </div>
    <p style="color: #1a529c; margin-top: 10px; font-weight: bold;">Bigger image projection in listing pages means more attractions to viewers than normal ads</p>
    </div>

    <div class="container" style="margin-top: 10px;">
    <div class="car">
      <div class="car1">
        <img src="../../../assets/extra/motorlist.png" alt="no exist" style="width: 90%; border-radius: 15px;">
        <img src="../../../assets/extra/motorcircle.png" style="width: 25%; margin-top: -40%; margin-left: 0%; border: 1px solid gray; border-radius: 35px; box-shadow: 0 0 10px;">

        <div style="margin-top: -100%;">
          <ion-card class="hotspot">
            <ion-card-header>
              <div style="width: 100px; margin-top: -9px; border-radius: 13px;">
                  <p style="margin-left: -5px; text-align: left; color: white;">Hotspot</p>
              </div>
        <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
        </ion-card-header>
        </ion-card>
        </div>

      </div>
      <div class="car2">
        <img src="../../../assets/extra/motorlist.png" alt="no exist" style="width: 80%; border-radius: 15px;">
        <img src="../../../assets/extra/motorcircle.png" style="width: 25%; margin-top: -40%; margin-left: 0%; border: 1px solid gray; border-radius: 35px; box-shadow: 0 0 10px;">
      <!-- </div>
<div> -->
        <p style="color: gray; margin-bottom: 20px;">Normal ad image</p>
      </div>
    </div>
    <p style="color: #1a529c; margin-top: 20px; font-weight: bold;">Hotspot tag on ad which will give viewer more attraction and confidence in your ad</p>
    </div>

    <div class="container" style="margin-top: 10px;">
    <div class="cars">

      <ion-row style="width: 100%;">
        <ion-col style="width: 100%;">

          <div class="car1" style="text-align: left; padding: 5px 0px 0px 0px; margin-bottom: 105px;">
        <img src="../../../assets/extra/motorlist.png" alt="no exist" style="border-radius: 15px;">
        <img src="../../../assets/extra/motorcircle.png" style="width: 25%; margin-top: -40%; margin-left: 0%; border: 1px solid gray; border-radius: 35px; box-shadow: 0 0 10px;">


        <!-- <div>
        <div style="margin-top: -100px; display: table-caption;">
          <ion-card class="hotspot">
            <ion-card-header>
              <div style="width: 100px; margin-top: -9px; border-radius: 13px;">
                  <p style="margin-left: -5px; text-align: left; color: white;">Hotspot</p>
              </div>
        <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
        </ion-card-header>
        </ion-card>
        </div>
      </div> -->
    </div>

      <div class="car2" style="display: flex; margin-top: -115px; align-items: center; flex-direction: column;">
        <img src="../../../assets/extra/motorlist.png" alt="no exist" style="width: 90%; border-radius: 15px; margin-top: 0%; margin-left: 0px;">
        <img src="../../../assets/extra/motorcircle.png" style="width: 25%; margin-top: -25%; margin-left: -65%; border: 1px solid gray; border-radius: 35px; box-shadow: 0 0 10px;">

        <div style="text-align: center; width: 100%; margin-top: 5px;">
        <p style="color: gray;">Normal ad image</p>
        </div>
      </div>
    </ion-col>

    <ion-col style="width: 100%; display: flex; align-items: center;">
      <p style="color: #1a529c; margin-top: 10px; font-weight: bold;">Higher search rankings in listing pages means more chances that your ad will be visible on starting pages in user's search</p>
    </ion-col>
  </ion-row>
</div>
    </div>
    </div>
<!--  -->
<div>
  <div class="bottom-buy">
    <div class="btn_bottom-buy" style="text-align: center;">
      <button id="signin-buy" type="buy">Upgrade my ad</button>
    </div>
  </div>
  </div>


          <!-- card 3  -Commercial Vehicles-->
          <div style="text-align: -webkit-center; margin-top: -30px;">
            <ion-col>
              <ion-card class="btn-bundle">
                <ion-card-header>
                  <p style="font-size: 16px; padding: 0px 5px 0px 5px; text-align: center;">Ad title come here</p>
  <div style="margin-top: 40px;"><p style="font-size: 17px; color: #1a529c; text-align: center;"><b>Paying PKR (Hostpot amount)</b></p></div>
  <ion-input type="text" placeholder="Bundle ID:  xxxxxxxxxxx" ></ion-input>
  <p style="font-size: 14px; color: red; margin-top: 10px; padding-left: 15px; text-align: center;">Please send us this your ad ID after sending payment from your ads posted section</p>

                    <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
              </ion-card-header>
              </ion-card>
              </ion-col>
              </div>


              <ion-row style="margin-top: 40px">
                  <ion-col size="2" class="column">
                    <div>
                  <p-radioButton name="groupname" value="val1" [(ngModel)]="selectedValue"></p-radioButton>
                  </div>
                </ion-col>

                <ion-col size="8">
                  <div style="text-align: -webkit-right; margin-top: -40px; margin-left: -30px; margin-right: -65px;">
                  <ion-card class="btn-deposit">
                    <ion-card-header>
                      <p style="font-size: 16px; padding: 0px 5px 0px 5px; text-align: center; color: black;">By cheque</p>
                      <p style="font-size: 13px; padding: 0px 0px 0px 0px; text-align: center; color: black;">Please make a cross cheque in favor of "Motorscube (Pvt.) Limited". Mention your Bundle ID on the back of the cheque and send to us</p>
                        <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
                  </ion-card-header>
                  </ion-card>
                </div>
                  </ion-col>
                </ion-row>


                <ion-row style="margin-top: 55px;">
                  <ion-col size="2" class="column">
                    <div>
                  <p-radioButton name="groupname" value="val2" [(ngModel)]="selectedValue"></p-radioButton>
                </div>
                  </ion-col>

                  <ion-col size="8">
                  <div style="text-align: -webkit-right; margin-top: -40px; margin-left: -30px; margin-right: -65px;">
                  <ion-card class="btn-deposit">
                    <ion-card-header style="margin-top: -10px;">
                      <p style="font-size: 16px; padding: 0px 5px 0px 5px; text-align: center; color: black;">Online deposit</p>
                      <p style="font-size: 12px; margin-top: -10px; text-align: center; color: black;">Account # 102830075 <br> Title: Motorscube (Pvt.) Limited <br> Bank: Mezan Bank <br> Branch Code: Branch Code: 0318 <br> IBAN # PK85MEZN0003180102830075</p>
                        <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
                  </ion-card-header>
                  </ion-card>
                </div>
                  </ion-col>
                  </ion-row>


                  <ion-row style="margin-top: 60px">
                      <ion-col size="2" class="column">
                        <div>
            <p-radioButton name="groupname" value="val3" [(ngModel)]="selectedValue"></p-radioButton>
            </div>
            </ion-col>


            <ion-col size="8">
                  <div style="text-align: -webkit-right; margin-top: -40px; margin-left: -30px; margin-right: -65px;">
                  <ion-card class="btn-deposit">
                    <ion-card-header>
                      <p style="font-size: 16px; padding: 0px 5px 0px 5px; text-align: center; color: black;">Easypaisa</p>
                      <p style="font-size: 13px; padding: 10px 0px 0px 0px; text-align: center; color: black;">Coming soon</p>
                        <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
                  </ion-card-header>
                  </ion-card>
                </div>
                  </ion-col>
                  </ion-row>
<!--  -->

<!--  -->
  <div>
    <div class="bottom-buy">
      <div class="btn_bottom-buy" style="text-align: center;">
        <button id="signin-buy" type="submit">Submit</button>
      </div>
    </div>
    </div>


</ion-content>
