ion-content {
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
  }
  
  ion-toolbar {
    background-color: var(--ion-toolbar-background);
  }
  
  ion-item {
    background-color: var(--ion-item-background);
    color: var(--ion-item-color);
  }
  