<ion-header>
  <ion-toolbar class="bg-toolbar">
    <ion-buttons slot="start" class="bg-red" style="height: 56px !important; width: 56px !important; margin: -4px !important;">
      <img src="../../../assets/extra/back arrow.png" (click)="back()" style="width: 20px; margin-left: 20px;">
    </ion-buttons>
    <ion-label style="color: black;">Reset Your Password</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="font-size: 14px; margin-top: 30px; text-align: center; margin-left: 20px; margin-right: 20px;">Please provide your old password to set your new password</p>

  <form [formGroup]="userForm" (ngSubmit)="onFormSubmit()">
    <div style="position: relative;">
      <label for="oldpassword" [class.active]="userForm.get('oldpassword')?.value">Old Password</label>
      <input type="{{ showPassword['oldpassword'] ? 'text' : 'password' }}" class="text-field" id="oldpassword" formControlName="oldpassword" (focus)="onInputFocus('oldpassword')" (blur)="onInputBlur('oldpassword')">
      <ion-icon slot="end" [name]="passwordToggleIcon['oldpassword']" (click)="togglePassword('oldpassword')" style="position: absolute; right: 10px; top: 45%; transform: translateY(-50%); z-index: 999; width: 20px; height: 20px;"></ion-icon>
    </div>
  
    <div style="position: relative;">
      <label for="newpassword" [class.active]="userForm.get('newpassword')?.value">New Password</label>
      <input type="{{ showPassword['newpassword'] ? 'text' : 'password' }}" class="text-field" id="newpassword" formControlName="newpassword" (focus)="onInputFocus('newpassword')" (blur)="onInputBlur('newpassword')">
      <ion-icon slot="end" [name]="passwordToggleIcon['newpassword']" (click)="togglePassword('newpassword')" style="position: absolute; right: 10px; top: 45%; transform: translateY(-50%); z-index: 999; width: 20px; height: 20px;"></ion-icon>
    </div>
  
    <div style="position: relative;">
      <label for="retypepassword" [class.active]="userForm.get('retypepassword')?.value">Retype New Password</label>    
      <input type="{{ showPassword['retypepassword'] ? 'text' : 'password' }}" class="text-field" id="retypepassword" formControlName="retypepassword" (focus)="onInputFocus('retypepassword')" (blur)="onInputBlur('retypepassword')">
      <ion-icon slot="end" [name]="passwordToggleIcon['retypepassword']" (click)="togglePassword('retypepassword')" style="position: absolute; right: 10px; top: 45%; transform: translateY(-50%); z-index: 999; width: 20px; height: 20px;"></ion-icon>
    </div>

    <div *ngIf="userForm.get('retypepassword')?.errors?.['passwordMismatch']" style="color: red; text-align: center;">
      Passwords do not match!
    </div>
    <div *ngIf="userForm.get('retypepassword')?.valid && userForm.get('retypepassword')?.touched" style="color: green; text-align: center;">
      Passwords match!
    </div>

    <div class="form-button-container">
      <button type="submit" [disabled]="!userForm.valid">Change Password</button>
    </div>
  </form>
</ion-content>
