.success-alert {
    .alert-wrapper {
      background-color: #2ecc71; /* Background color */
    }
  
    .alert-message {
      color: #fff; /* Text color */
    }
  
    .alert-button {
      color: #fff; /* Button text color */
      --background: #27ae60; /* Button background color */
    }
  }
  