.category {
    width: 100%;
    box-shadow: none;
    border-radius: 14px;
  }
  .btn-capsule1{
    // border: 1px solid #e91e63;
    border: 1px solid gray;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .btn-capsule2{
    // border: 1px solid #e91e63;
    border: 1px solid gray;
    height: 35px;
    width: 160px;
    border-radius: 25px;
    // margin-left: 10px;
    margin-bottom: 0px;
  }
  //   .btn-capsule2:hover{
  // background-color: #e91e63;
  // }
  
  .btn-capsule3{
    // border: 1px solid #e91e63;
    border: 1px solid gray;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: -15px;
    margin-bottom: 0px;
  }
  .btn-capsule3:hover{
    background-color: #179ea8;
    }
  
  
  .btn-capsule4{
    // border: 1px solid #e91e63;
    border: 1px solid gray;
    height: 35px;
    width: 180px;
    border-radius: 10px;
    // margin-left: 10px;
    margin-bottom: 0px;
  }
    .btn-capsule4:hover{
  background-color: #e91e63;
  }
  .btn-capsule5{
    border: 1px solid gray;
    height: 35px;
    width: 130px;
    border-radius: 10px;
    // margin-left: 10px;
    margin-bottom: 0px;
  }
    .btn-capsule5:hover{
  background-color: #179ea8;
  }
  .btn-capsule6{
    border: 1px solid gray;
    height: 35px;
    width: 180px;
    border-radius: 10px;
    // margin-left: 10px;
    margin-bottom: 0px;
  }
    .btn-capsule6:hover{
  background-color: #e91e63;
  }
  
  .btn-buy-white{
    margin-left: 10px;
    height: 3px !important;
    width: 160px !important;
    border-radius: 10px !important;
    background: white !important;
    border: 2px !important;
  }
  
    // modal //
    .uc-modal{
      position: fixed;
      background: transparent;
      top: 45px;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
    .uc-m-content{
      background: #fff;
      width: 50% !important;
      margin: 3% auto;
      border-radius: 6px;
    }
    .uc-m-header{
      padding: 20px;
      // background: #0b3582;
      background: #179ea8;
      color: #fff;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      position: relative;
    }
    .uc-m-header h4{
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
    }
    .uc-m-header .btn-close{
      cursor: pointer !important;
      position: absolute !important;
      right: 15px;
      top: 15px;
      filter: invert(1);
    }
  
    .uc-m-body{
      padding: 20px;
      min-height: 130px;
      color: black;
      background-color: white;
    }
    .uc-m-footer{
    padding: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
    background: lightgray;
  }
    .search{
      margin-top: 10%;
    }
  .bttn{
    width: 250px;
  }
  
  #reset{
    background-color: rgb  (242 ,242 ,242);
    // margin-left: 10px ;
  background-color: transparent;
    color: #179ea8;
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
  }
  #submit{
    margin-left: 10px ;
    // background-color: rgba(49, 49, 155, 0.61);
    background-color: #1a529c;
    color: white;
    height: 50px;
    // width: 300px;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
  }
  
  .btn-dark{
    margin-left: -16px;
    margin-top: -25px;
    height: 5px !important;
    // width: 400px !important;
    width: 115% !important;
    border-radius: 0px !important;
    // background: white !important;
    background: rgba(0 0 0 / 12%) !important;
    border: 2px !important;
  }
  .clr-white{
    color: gray !important;
    margin-top: 100px;
  }
  .btn-filter{
    margin-right: 20px;
    margin-top: -20px;
    height: 35px !important;
    // width: 400px !important;
    width: 130px !important;
    // border-radius: 10px !important;
    // background: #f5f5f538 !important;
    background: rgb(245 245 245 / 98%) !important;
    border: 2px !important;
    box-shadow: 0 0 10px;
  }
  .clr-white{
    color: gray !important;
    margin-top: 100px;
  }
  #property_for1 {
    height: 44px;
    border: none;
    overflow: hidden;
    scrollbar-width: none;
    background: none;
    opacity: 0.7;
  }
  
  #property_for1 option {
    width: 120px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
  }
  #property_for1::-moz-focus-inner{
    border: 0;
  }
  #property_for1:focus{
    outline: none;
  }
  
  #property_for1 option{
    width: 120px;
    font-size: 1.2em;
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 0 solid #626262;
  }
  
  select option:active{
    background-color: #cf0909 !important;
    color: #fff !important;
  }
  .selected {
    border: 5px solid  #00777b;
  }
  
  ion-slide.active {
    background-color: red; /* Change background color to red when active class is applied */
  }
  
  
  // select option:checked{
  //   background:linear-gradient(#179ea8, #179ea8);
  //   background-color: #fff !important;
  //   color: #fff !important;
  //   border: none !important;
  // }
  
  // .fuel{
  // // text-align: center;
  // margin-left: 15px;
  // }
  
  // .fuel:hover{
  //  color: skyblue;
  // }
  .selected {
    color: white; /* Make text white for better contrast */
    border-radius: 8px; /* Optional: to add rounded corners */
  }
  
  #country{
    width: 155px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    // margin-left: 50px;
  }
  #price1{
    width: 155px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    // margin-left: 50px;
  }
  