<ion-header>
 
</ion-header>

<ion-content >

  <div style="bottom: 0; justify-content: space-between; align-items: center; position: sticky; top: -1px; z-index: 999; text-align: center;margin-top: 5px;">
    <ion-card class="btn-white" style="display: flex; width: 100%; padding: 0;">
      
      <!-- Left: Back Button -->
      <div style="flex: 0 0 auto; margin-left: 10px; width: 25px; height: auto;  display: flex; align-items: center;">
        <img src="../../assets/extra/back arrow.png" (click)="back()" style="width: 20px; height: auto;" alt="Back">
      </div>
  
      <!-- Center: Menu Image -->
      <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <img src="../../assets/menu-toolbar.png" style="width: 130px; height: auto;" alt="Menu">
      </div>
  
      <!-- Right: Menu Toggle Image -->
      <div style="flex: 0 0 auto; margin-right: 20px; display: flex; align-items: center;">
        <img src="../../../assets/side-menu.png" (click)="navigateToMainMenu()" style="width: 30px; height: auto;" alt="Menu Toggle">
      </div>
    </ion-card>
  </div>
  
  

  <!-- background cover photo -->
   <!-- background cover photo -->
<div style="position: relative; width: 100%; height: 400px; text-align: center; overflow: hidden; margin-top: -25px;">
  
  <!-- Background image -->
  <img src="../../assets/machinery-section/machinery-home/crane.jpg" 
       style="width: 100%; height: 100%; object-fit: cover;" />

  <!-- Black overlay -->
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;
              background-color: rgba(0, 0, 0, 0.5); z-index: 1;"></div>

  <!-- Text content -->
  <div style="position: absolute; top: 40%;  ;
              color: white; z-index: 2; font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">
    <p style="font-size: 30px; margin: 0;"><b>Search your dream Machinery </b></p>
    <p style="font-size: 19px; margin-top: 15px;">on simple clicks</p>
    <div class="bottom">
      <div class="btn_bottom" style="text-align: center;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">
        <button id="signin" type="button" (click)="commercialSaleListing()">Search Machinery</button>
    
      </div>
    </div>
  </div>
</div>



<!--  -->

<!-- slider -->
<div style="text-align: -webkit-center; width: 100%; margin-top: 120px;">
  <ion-col style="text-align: -webkit-center;">
    <ion-card class="btn-view" style="margin-top: 5px; height: auto !important;"> <!-- Card with auto height -->
      <ion-card-header>
        <!-- Section Title -->
        <p style="font-size: 14px; font-weight: bold; margin: 10px 0px 0px 10px; color: black; text-align: left;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">
          Recent Machinery for sale
        </p>

        <!-- View All Button -->
        <div (click)="commercialSaleListing()" 
             style="height: 35px; border-radius: 30px; border-color: black; border: 1px solid skyblue; 
                    background-color: skyblue; margin-top: -30px; margin-left: 70%; margin-bottom: 20px; 
                    color: black; padding-top: 8px; padding-left: 0px;">
          View all
        </div>

        <!-- Conditional Display for Car Sale Data -->
        <div *ngIf="CommercialSaleData && CommercialSaleData.length > 0; else noData">
    
          <swiper-container [slidesPerView]="1" [spaceBetween]="10" [loop]="true" 
                             [autoplay]="{ delay: 1000 }" [pagination]="{ clickable: true }" 
                             [navigation]="true" style="height: 350px; overflow: hidden; margin-top: -12px;">
            <ng-container *ngFor="let commercial of CommercialSaleData">
              <swiper-slide *ngIf="commercial.feature_type === 'Supreme'" 
                            (click)="navigateToCarDetail(commercial.machinery_ad_sale_id)">
                <div style="text-align: center;">
                  <!-- Image Section -->
                  <div style="height: 250px; width: 100%; overflow: hidden; position: relative; margin: 0 auto;">
                    <img *ngIf="commercial.image_url1" [src]="commercial.image_url1" class="car-image" 
                         style="width: 100%; height: 100%; object-fit: cover;" alt="Commercial image for {{ commercial.make }} {{ commercial.model }}"/>
                  </div>
                  
                  <!-- Car Details (Make, Model, Version) -->
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; color: gray;">
                    {{ commercial.make }} {{ commercial.model }} {{ commercial.version }}
                  </p>
                  
                  <!-- Price Section -->
                  <p style="font-size: 18px; margin-top: 12px; font-weight: bold; text-align: center; color: #1a529c;">
                   PKR {{ commercial.price }}
                  </p>
                </div>
              </swiper-slide>
            </ng-container>
          </swiper-container>
        </div>

        <!-- No Data Fallback Template -->
        <ng-template #noData>
          <p style="text-align: center; color: gray; font-size: 14px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">No car sale data available</p>
        </ng-template>
      </ion-card-header>
    </ion-card>
  </ion-col>
</div>



<!--  -->


<div>
  <div style="text-align: -webkit-center; width: 100%; margin-top: -40px;">
   <ion-col style="text-align: -webkit-center;">
     <ion-card class="btn-post" style="margin-top: 5px;">
 <ion-card-header>
  <p style="font-size: 18px; margin-top: 15px; color: white; text-align: center;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Looking to sell or rent out Machinery? <br> Post ad for free</p>
  <!-- <p style="font-size: 16px; margin: 20px 0px 35px 0px; color: white; text-align: center;">Post your ad to 1000's of daily visitors for free</p> -->

  <div class="ad-post" style="margin-top: 35px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">
    <div class="ad">
      <button (click)="carSalePosting()" id="post">For Sale</button>
      <button (click)="carHirePosting()" id="post">For Hire</button>
    </div>
  </div>
  <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
       </ion-card-header>
     </ion-card>
   </ion-col>
 </div>
</div>
<!-- slider2 -->
<div style="text-align: -webkit-center; width: 100%; margin-top: 0px;">
  <ion-col style="text-align: -webkit-center;">
    <ion-card class="btn-view" style="margin-top: 5px; height: auto !important;"> <!-- Card with auto height -->
      <ion-card-header>
        <!-- Section Title -->
        <p style="font-size: 14px; font-weight: bold; margin: 10px 0px 0px 10px; color: black; text-align: left;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">
          Recent Machinery for hire
        </p>
        <!-- View All Button -->
        <div (click)="carHireListing()" 
             style="height: 35px; border-radius: 30px; border-color: black; border: 1px solid skyblue; 
                    background-color: skyblue; margin-top: -30px; margin-left: 70%; margin-bottom: 20px; 
                    color: black; padding-top: 8px; padding-left: 0px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">
          View all
        </div>

        <!-- Conditional Display for Commercial \hire Data -->
        <div *ngIf="  CommercialHireData &&   CommercialHireData.length > 0; else noData">
          <swiper-container [slidesPerView]="1" [spaceBetween]="10" [loop]="true" 
                             [autoplay]="{ delay: 1000 }" [pagination]="{ clickable: true }" 
                             [navigation]="true" style="height: 350px; overflow: hidden; margin-top: -12px;">
            <ng-container *ngFor="let commercial of   CommercialHireData">
              <swiper-slide *ngIf="commercial.feature_type === 'Supreme'" 
                            (click)=" navigateToCarHireDetail(commercial.machinery_ad_hire_id)">
                <div style="text-align: center;">
                  <!-- Image Section -->
                  <div style="height: 250px; width: 100%; overflow: hidden; position: relative; margin: 0 auto;">
                    <img *ngIf="commercial.image_url1" [src]="commercial.image_url1" class="car-image" 
                         style="width: 100%; height: 100%; object-fit: cover;" alt="Car image for {{ commercial.make }} {{ commercial.model }}"/>
                  </div>
                  
                  <!-- Car Details (Make, Model, Version) -->
                  <p style="font-size: 14px; margin-top: 12px; text-align: center; color: gray;">
                    {{ commercial.make }} {{ commercial.model }} {{ commercial.version }}
                  </p>
                
                </div>
              </swiper-slide>
            </ng-container>
          </swiper-container>
        </div>

        <!-- No Data Fallback Template -->
        <ng-template #noData>
          <p style="text-align: center; color: gray; font-size: 14px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">No Machinery sale data available</p>
        </ng-template>
      </ion-card-header>
    </ion-card>
  </ion-col>
</div>

<!--  -->

<div style="text-align: -webkit-center;">
  <ion-col>
    <ion-card class="btn-dark">
      <ion-card-header>
        <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
      </ion-card-header>
      </ion-card>
      </ion-col>
      </div>

      <p style="font-size: 16px; padding: 0px 10px 0px 10px; text-align: center; color: #c70000;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Buy & sell accessories on Pakistan's first complete motors platform</b></p>

      <ion-col width="60%" style="text-align: -webkit-center;">
        <div class="bottom-blue">
          <div class="btn_bottom-blue">
            <button id="signin-blue" type="submit">
              <p style="margin-top: 10px; font-size: 15px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Buy - Sell </p> <br>
              <p style="margin-top: -20px; font-size: 19px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Parts  & Accessories</p>
            </button>
          </div>
        </div>
      </ion-col>

      <div style="text-align: -webkit-center; margin-top: 50px;">
        <ion-col>
          <ion-card class="btn-dark">
            <ion-card-header>
              <ion-card-subtitle class="clr-white" ></ion-card-subtitle>
            </ion-card-header>
            </ion-card>
            </ion-col>
            </div>
<!--  -->

<p style="font-size: 14px; text-align: center; font-weight: bold; color: black;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;">Useful Resources for Your Machinery</p>

<div style="text-align: center; width: 100%;">
<!-- <ion-col>
  <ion-row> -->
<img src="../../assets/machinery-section/crane-truck.png"style="width: 50px; margin-left: -10px; margin-bottom: 20px; border-radius: 10px"/>
<!-- </div> -->
<!-- <div style="text-align: center; width: 100%;"> -->
<img src="../../../assets/Car-section/home-page/resources-1.png"style="width: 50px; margin-left: 20px; margin-bottom: 20px; border-radius: 10px"/>
<!-- </ion-row>
</ion-col> -->
</div>
<!--  -->

<div class="text-center" >
  <ion-row style="margin-right: 10px;">
    <ion-col size="6" style="text-align: -webkit-center;">
        <ion-card (click)="carInsurance()" class="btn-city" >
          <ion-card-header class="text-center-vertical"style="display:flex; align-items:center;">

            <img src="../../assets/machinery-section/machinery.png" style="height: 60px; width: 60px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px; " fill="clear;"/>
            <p style="font-size: 13px; margin-left: 10px; margin-top: -2px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Insurance</b></p>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" style="text-align: -webkit-center;">
        <ion-card  (click)="carLeasing()"  class="btn-city" >
          <ion-card-header class="text-center-vertical"style="display:flex; align-items:center;">
            <img src="../../../assets/Menu-items/After login/All other section menu/laeasing.png" style="height: 60px; width: 60px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px; "fill="clear;"/>
            <p style="font-size: 13px; margin-left: 10px; margin-top: -2px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Leasing</b></p>
          </ion-card-header>
        </ion-card>
      </ion-col>
  </ion-row>
</div>

<div class="text-center" >
  <ion-row style="margin-right: 10px;">
    <ion-col size="6" style="text-align: -webkit-center;">
        <ion-card  (click)="carDealer()"  class="btn-city" >
          <ion-card-header class="text-center-vertical"style="display:flex; align-items:center;">
            <img src="../../../assets/Menu-items/After login/All other section menu/dealer.png" style="height: 60px; width: 60px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px; " fill="clear;"/>
            <p style="font-size: 13px; margin-left: 8px; margin-top: -2px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Dealers</b></p>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" style="text-align: -webkit-center;">
        <ion-card  (click)="carShowroom()"  class="btn-city" >
          <ion-card-header class="text-center-vertical"style="display:flex; align-items:center;">
            <img src="../../assets/machinery-section/man.png" style="height: 60px; width: 60px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px; " fill="clear;"/>
            <p style="font-size: 13px; margin-left: 10px; margin-top: -2px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Showrooms</b></p>
          </ion-card-header>
        </ion-card>
      </ion-col>
  </ion-row>
</div>

<div class="text-center" >
  <ion-row style="margin-right: 10px;">
    <ion-col size="6" style="text-align: -webkit-center;">
        <ion-card  (click)="carImporter()"  class="btn-city" >
          <ion-card-header class="text-center-vertical"style="display:flex; align-items:center;">

            <img src="../../../assets/Menu-items/After login/All other section menu/importer.png" style="height: 60px; width: 60px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px; " fill="clear;"/>
            <p style="font-size: 13px; margin-left: 10px; margin-top: -2px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Importers</b></p>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" style="text-align: -webkit-center;">
        <ion-card  (click)="carExporter()"  class="btn-city" >
          <ion-card-header class="text-center-vertical"style="display:flex; align-items:center;">
            <img src="../../../assets/Menu-items/After login/All other section menu/exporter.png" style="height: 60px; width: 60px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px; "fill="clear;"/>
            <p style="font-size: 13px; margin-left: 10px; margin-top: -2px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Exporters</b></p>
          </ion-card-header>
        </ion-card>
      </ion-col>
  </ion-row>
</div>

<div class="text-center" >
  <ion-row style="margin-right: 10px;">
    <ion-col size="6" style="text-align: -webkit-center;">
        <ion-card  (click)="carSchool()"  class="btn-city" >
          <ion-card-header class="text-center-vertical"style="display:flex; align-items:center;">
            <img src="../../../assets/Menu-items/After login/All other section menu/driving-school.png" style="height: 60px; width: 60px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px; " fill="clear;"/>
            <p style="font-size: 13px; margin-left: 8px; margin-top: -2px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Driving school</b></p>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6" style="text-align: -webkit-center;">
        <ion-card  (click)="carWorkshop()"  class="btn-city" >
          <ion-card-header class="text-center-vertical"style="display:flex; align-items:center;">
            <img src="../../assets/machinery-section/factory.png" style="height: 60px; width: 60px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px; " fill="clear;"/>
            <p style="font-size: 13px; margin-left: 10px; margin-top: -2px;font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;"><b>Workshops</b></p>
          </ion-card-header>
        </ion-card>
      </ion-col>
  </ion-row>
</div>


<!--  -->
<!-- <div style="height: 60px; text-align: -webkit-center; position: sticky; bottom: 0px; z-index: 1; box-shadow: 1px 1px 5px 5px grey; background-color: white;"> -->
  <div style="height: 50px; text-align: center; position: sticky; bottom: 0; z-index: 1; box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); background-color: white; margin-top: 40px; border-radius: 20px 20px 0 0;">
    <div style="width: 100%; display: flex; justify-content: space-between; align-items: center; height: 100%; padding: 10px 20px;">
  
      <!-- Home Icon -->
      <div style="flex: 1; text-align: center; transition: all 0.3s ease;">
        <img src="../../../assets/Landing page/footer-icon/home.png" 
             style="height: 24px; width: 24px; transition: all 0.3s ease; cursor: pointer;" 
             alt="Home" (click)="selectIcon('home')"
             [ngStyle]="{ 'color': selectedIcon === 'home' ? 'blue' : '', 'transform': selectedIcon === 'home' ? 'scale(1.5)' : 'scale(1)' }">
      </div>
  
      <!-- Message Icon -->
      <div style="flex: 1; text-align: center; transition: all 0.3s ease;">
        <img src="../../../assets/Landing page/footer-icon/message.png" 
             style="height: 24px; width: 24px; transition: all 0.3s ease; cursor: pointer;" 
             alt="Message" (click)="selectIcon('message')"
             [ngStyle]="{ 'color': selectedIcon === 'message' ? 'blue' : '', 'transform': selectedIcon === 'message' ? 'scale(1.5)' : 'scale(1)' }">
      </div>
  
      <!-- Profile Icon -->
      <div style="flex: 1; text-align: center; transition: all 0.3s ease;">
        <img src="../../../assets/Landing page/footer-icon/profile.png" 
             style="height: 24px; width: 24px; transition: all 0.3s ease; cursor: pointer;" 
             alt="Profile" (click)="selectIcon('profile')"
             [ngStyle]="{ 'color': selectedIcon === 'profile' ? 'blue' : '', 'transform': selectedIcon === 'profile' ? 'scale(1.5)' : 'scale(1)' }">
      </div>
  
    </div>
  </div>
  

      <!-- </div> -->


</ion-content>
