<ion-content>    <p style="font-size: 16px; text-align: center; color: gray; margin-top: 20px;">Search Filters</p>
  <div style="text-align: right; margin-top: -30px; margin-bottom: 15px; margin-right: 20px;">
  <ion-icon name="close" (click)="back()" ></ion-icon></div>
  <hr style="background-color: black;">
  <ion-row style="margin-top: 25px;">
    <img src="../../../assets/extra-icon/car-condition.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: -10px" fill="clear;" />
    <p style="margin-left: 20px;">Vehicle condition</p>
  </ion-row>
  
  <div style="width: 100%; margin-left: 30px; text-align: center; margin-top: -20px;">
    <ion-col>
      <ion-row style="display: flex; justify-content: left;">
        <ion-button [color]="selectedcon.includes('New') ? 'danger' : 'light'" class="condition" style="width: 70px; margin-left: 15px;" (click)="selectedcondition('New')">New</ion-button>
        <ion-button [color]="selectedcon.includes('Used') ? 'danger' : 'light'" class="condition" style="margin-left: 13px;" (click)="selectedcondition('Used')">Used</ion-button>
        <ion-button [color]="selectedcon.includes('Re-condition') ? 'danger' : 'light'" class="condition" style="width: 130px; margin-left: 13px;" (click)="selectedcondition('Re-condition')">Re-condition</ion-button>
      </ion-row>
    </ion-col>
  </div>
  
  <ion-item-divider style="height: 1px; margin-top: -40px; width: 100%; margin-left: 0px;"></ion-item-divider>
  
  <ion-row>
    <img src="../../../assets/extra-icon/location.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Vehicle location</p>
    <div id="click-trigger_city" [hidden]="!showcar" trigger="click-trigger_city" triggerAction="click">
      <img src="../../../assets/extra-icon/add.png" (change)="getcitylist()" style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;" fill="clear;"/>
    </div>
  </ion-row>
  
<div *ngIf="divVisible">
<ion-badge *ngFor="let City of selectedCity" style="margin-left: 45px; height: 35px; width: 120px; background-color: lightgray;"><p style="font-size: small; margin-top: 9px; margin-left: -25px; color: black;">{{ City }}</p>
<div style="margin-top: -28px; font-size: 20px; text-align: right; color: #0000ff96;"><ion-icon name="close-circle" (click)="hideDiv(City)"></ion-icon></div></ion-badge>
</div>
<ion-popover trigger="click-trigger_city" triggerAction="click">
<ng-template>
<ion-content class="ion-padding">
  <p style="font-size: 16px; text-align: center;">Select City</p>
  <ion-searchbar type="text" debounce="500" (ionChange)="filterCities($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let city of filteredCities" (click)="selectCity(city)">
      {{ city }}
    </ion-item>
  </ion-list>  </ion-content>  </ng-template>  </ion-popover>
<ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
<ion-row>
  <!-- Make section trigger -->
  <img src="../../../assets/extra-icon/make.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;" />
  <p style="margin-left: 20px; margin-top: 20px;">Make</p>

  <!-- Add button for trigger -->
  <div [hidden]="showmake" id="click-trigger_make" trigger="click-trigger_make" triggerAction="click">
    <img src="../../../assets/extra-icon/add.png" style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;" fill="clear;" />
  </div>
</ion-row>

<!-- Display selected Make in the div -->
<div *ngIf="makedivVisible">
  <ion-badge *ngFor="let item of mergecararray" style="margin-left: 45px; height: 35px; width: 250px; background-color: lightgray;">
    <p style="font-size: small; margin-top: 9px; margin-left: -10px; color: black;">{{ item }}</p>
    <div style="margin-top: -28px; font-size: 20px; text-align: right; color: #0000ff96;">
      <ion-icon name="close-circle" (click)="makeDiv(item)"></ion-icon>
    </div>
  </ion-badge>
</div>

<!-- Popover for Make selection -->
<ion-popover trigger="click-trigger_make" triggerAction="click" cssClass="full-screen-popover">
  <ng-template>
    <ion-content class="full-screen-content">
      <p style="font-size: 16px; text-align: center;">Select Make</p>

      <!-- Search bar for filtering makes -->
      <ion-searchbar 
        type="text" 
        debounce="500" 
        (ionInput)="filterMakes($event)" 
        [value]="searchTerm"
        placeholder="Search Makes"
        clearInput="true"
        style="width: 100%;">
      </ion-searchbar>

      <!-- Display makes in the list -->
      <ion-list>
        <ion-item *ngFor="let item of filteredMakes" (click)="selectMake(item)">
          {{item}}
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>

<!-- Make section trigger -->
<div [hidden]="!showmodel">
  <ion-row>
    <!-- Make section trigger -->
    <img
      src="../../../assets/extra-icon/make.png"
      style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;"
      fill="clear"
    />
    <p style="margin-left: 20px; margin-top: 20px;">Type & Sub Type</p>

    <!-- Add button for triggering the popover -->
    <div
      [hidden]="showmodel2"
      id="click-trigger-model-version"
      trigger="click-trigger-model-version"
      triggerAction="click"
    >
      <img
        src="../../../assets/extra-icon/add.png"
        style="height: 30px; width: 30px; position: absolute; right: 30px; margin-top: 15px;"
        fill="clear"
      />
    </div>
  </ion-row>

  <!-- Popover for Model and Version selection -->
  <ion-popover
    trigger="click-trigger-model-version"
    triggerAction="click"
    cssClass="full-screen-popover"
  >
    <ng-template>
      <ion-content class="full-screen-content">
        <p style="font-size: 16px; text-align: center;">Select Model & Version</p>

        <!-- Search bar for filtering combined model-version -->
        <ion-searchbar
          type="text"
          debounce="500"
          (ionInput)="filterCombinedModelVersions($event)"
          [value]="searchTerm"
          placeholder="Search Model & Version"
          clearInput="true"
          style="width: 100%;"
        ></ion-searchbar>

        <!-- Display combined model-version in the list -->
        <ion-list>
          <ion-item
            *ngFor="let combined of filteredCombinedModelVersions"
            (click)="selectModelVersion(combined)"
          >
            {{ combined }}
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</div>

<!-- Display selected model-version in the selected div -->



<div *ngIf="selectedModelVersion" style="margin-left: 10px; margin-top: 20px;">
  <ion-badge
    style="background-color: lightgray; padding: 15px 30px;  color: black; display: inline-block; position: relative;"
  >
    {{ selectedModelVersion }}
    <div style="position: absolute; top: 0; right: 0; font-size: 22px; color: #0000ff96; cursor: pointer;">
      <ion-icon name="close-circle" (click)="clearSelectedModelVersion()"></ion-icon>
    </div>
  </ion-badge>
</div>

            <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
  <ion-row><img src="../../../assets/extra-icon/price.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Price</p></ion-row>
      <div>          <ion-row>            <ion-col size="6">
            <ion-item style="border: 2px solid black;
              margin: 10px;                border-radius: 10px;
              box-shadow: 0 5px 10px rgb(0 0 0);">
              <ion-label>From</ion-label>                <select [(ngModel)]="selectedLowPrice" (change)="updateHighPriceOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
                <option value="100000">100000</option>
                <option value="500000">500000</option>
                <option value="600000">600000</option>
                <option value="700000">700000</option>
                <option value="800000">800000</option>
                <option value="900000">900000</option>
                <option value="1000000">1000000</option>
              </select>              </ion-item>            </ion-col>  <ion-col size="6">
            <ion-item style="border: 2px solid black; margin: 10px; border-radius: 10px; box-shadow: 0 5px 10px rgb(0 0 0);">
              <ion-label>To</ion-label>
              <select [(ngModel)]="selectedHighPrice" (change)="updateHighPriceOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
                <option *ngFor="let priceOption of highPriceOptions" [value]="priceOption">{{ priceOption }}</option>
              </select>              </ion-item>            </ion-col>                     </ion-row>
            </div>      <hr style="background-color: black;">
  <ion-row><img src="../../../assets/extra-icon/year.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Make year</p></ion-row>
  <ion-row>      <ion-col size="6">
      <ion-item style="border: 2px solid black;
        margin: 10px;          border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0);">
        <ion-label>From</ion-label>
        <select [(ngModel)]="selectedLowYear" (change)="updateHighYearOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
          <option *ngFor="let year of filteredLowYears" [value]="year">{{ year }}</option>
        </select>        </ion-item>      </ion-col>      <ion-col size="6">
      <ion-item style="border: 2px solid black;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0);">
        <ion-label>To</ion-label>
        <select [(ngModel)]="selectedHighYear" (change)="updateFilteredHighYears()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
          <option *ngFor="let year of filteredHighYears" [value]="year">{{ year }}</option>
        </select>
      </ion-item>      </ion-col>    </ion-row>   
       <hr style="background-color: black;">
  <ion-row><img src="../../../assets/extra-icon/mileage.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Mileage in(km)</p></ion-row>
<ion-row>
  <ion-col size="6">
    <ion-item style="border: 2px solid black;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgb(0 0 0);">
      <ion-label>From</ion-label>
      <select [(ngModel)]="selectedLowMilage" (change)="updateHighMilageOptions()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
        <option *ngFor="let milageOption of lowMilages" [value]="milageOption">{{ milageOption }}</option>
      </select>
    </ion-item>
  </ion-col>
  <ion-col size="6">
    <ion-item style="border: 2px solid black;
      margin: 10px;
      border-radius: 10px;
      box-shadow: 0 5px 10px rgb(0 0 0);">
      <ion-label>To</ion-label>
      <select [(ngModel)]="selectedHighMilage" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
        <option *ngFor="let milageOption of filteredHighMilages" [value]="milageOption">{{ milageOption }}</option>
      </select>
    </ion-item>
  </ion-col>
</ion-row>  
   <hr style="background-color: black;">
   <ion-row><img src="../../../assets/extra-icon/drive.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">Fuel type</p></ion-row>
    <div style="width: 100%; margin-left: 30px; text-align: center;">
      <ion-col>          <ion-row style="display: flex; justify-content: center;">
          <ion-button [color]="selectedFuel.includes('Petrol') ? 'danger' : 'light'" class="fuel" (click)="selectFuel('Petrol')">Petrol</ion-button>
          <ion-button [color]="selectedFuel.includes('Diesel') ? 'danger' : 'light'" class="fuel" style="width: 100px; margin-left: 13px;" (click)="selectFuel('Diesel')">Diesel</ion-button>
          <ion-button [color]="selectedFuel.includes('CNG') ? 'danger' : 'light'" class="fuel" style="width: 90px; margin-left: 15px;" (click)="selectFuel('CNG')">CNG</ion-button>
        </ion-row>
        <ion-row style="margin-top: 10px; display: flex; justify-content: center;">
          <ion-button [color]="selectedFuel.includes('Hybrid') ? 'danger' : 'light'" class="fuel" (click)="selectFuel('Hybrid')">Hybrid</ion-button>
          <ion-button [color]="selectedFuel.includes('Electric') ? 'danger' : 'light'" class="fuel" style="margin-left: 15px;" (click)="selectFuel('Electric')">Electric</ion-button>
          <ion-button [color]="selectedFuel.includes('LPG') ? 'danger' : 'light'" class="fuel" style="width: 90px; margin-left: 15px;" (click)="selectFuel('LPG')">LPG</ion-button>
        </ion-row>               
    </ion-col>
    </div>      <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
  <ion-row><img src="../../../assets/extra-icon/engine.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Engine size</p></ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-item style="border: 2px solid black;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0);">
        <ion-label>From</ion-label>
        <select [(ngModel)]="selectedEngineLowSize" (change)="updateHighEngineSizes()" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
          <option *ngFor="let size of engineSizes" [value]="size">{{ size }}</option>
        </select>
      </ion-item>
    </ion-col>
    <ion-col size="6">
      <ion-item style="border: 2px solid black;
        margin: 10px;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgb(0 0 0);">
        <ion-label>To</ion-label>
        <select [(ngModel)]="selectedEngineHighSize" style="border: 0px solid white; width: 100%; background-color: transparent; z-index: 999;">
          <option *ngFor="let size of filteredHighEngineSizes" [value]="size">{{ size }}</option>
        </select>
      </ion-item>      </ion-col>    </ion-row>  <ion-item-divider style="height: 1px; margin-top: 0px; width: 100%; margin-left: 0px;"></ion-item-divider>
    
  <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
    <ion-row><img src="../../../assets/extra-icon/transmission.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
    <p style="margin-left: 20px; margin-top: 20px;">transmission</p></ion-row>
    <div style="width: 100%; margin-left: 25px; text-align: center;">
      <ion-row style="display: flex; justify-content: center;">
        <ion-button [color]="selectedTransmission.includes('Auto') ? 'danger' : 'light'" class="fuel" style="width: 100px;" (click)="selectTransmission('Auto')">Auto</ion-button>
        <ion-button [color]="selectedTransmission.includes('Manual') ? 'danger' : 'light'" class="fuel" style="width: 100px; margin-left: 15px;" (click)="selectTransmission('Manual')">Manual</ion-button>
      </ion-row>        
    </div>      
    <ion-item-divider style="height: 1px; margin-top: -25px; width: 100%; margin-left: 0px;"></ion-item-divider>
    <ion-row><img src="../../../assets/extra-icon/body-color.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
      <p style="margin-left: 20px; margin-top: 20px;">Body color</p></ion-row>
      <swiper-container [slidesPerView]="5" [spaceBetween]="5" [loop]="true" style="margin-top: 15px; height: 60px;">
        <swiper-slide (click)="selectColor('red')">
          <div class="btn-capsule3" style="background-color: red;" [class.selected]="selectedColor === 'red'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Red</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('white')">
          <div class="btn-capsule3" style="background-color: white;" [class.selected]="selectedColor === 'white'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">White</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('green')">
          <div class="btn-capsule3" style="background-color: green;" [class.selected]="selectedColor === 'green'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Green</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('gray')" style="max-width: 100px;">
          <div class="btn-capsule3" style="background-color: gray;" [class.selected]="selectedColor === 'gray'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Gray</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('black')">
          <div class="btn-capsule3" style="background-color: black;" [class.selected]="selectedColor === 'black'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Black</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('silver')">
          <div class="btn-capsule3" style="background-color: silver;" [class.selected]="selectedColor === 'silver'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Silver</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('blue')">
          <div class="btn-capsule3" style="background-color: blue;" [class.selected]="selectedColor === 'blue'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Blue</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('yellow')">
          <div class="btn-capsule3" style="background-color: yellow;" [class.selected]="selectedColor === 'yellow'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Yellow</p>
          </div>          </swiper-slide>          <swiper-slide (click)="selectColor('purple')">
          <div class="btn-capsule3" style="background-color: purple;" [class.selected]="selectedColor === 'purple'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Purple</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('orange')">
          <div class="btn-capsule3" style="background-color: orange;" [class.selected]="selectedColor === 'orange'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Orange</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('pink')">
          <div class="btn-capsule3" style="background-color: pink;" [class.selected]="selectedColor === 'pink'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Pink</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('brown')">
          <div class="btn-capsule3" style="background-color: brown;" [class.selected]="selectedColor === 'brown'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Brown</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('beige')">
          <div class="btn-capsule3" style="background-color: beige;" [class.selected]="selectedColor === 'beige'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Beige</p>
          </div>          </swiper-slide>
        <swiper-slide (click)="selectColor('teal')">
          <div class="btn-capsule3" style="background-color: teal;" [class.selected]="selectedColor === 'teal'">
            <p style="font-size: 13px; margin-top: 35px; width: 40px;">Teal</p>
          </div>          </swiper-slide>
      </swiper-container>
      <ion-item-divider style="height: 1px; margin-top: -15px; width: 100%; margin-left: 0px;"></ion-item-divider>
      <ion-row><img src="../../../assets/extra-icon/doors.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
        <p style="margin-left: 20px; margin-top: 20px;">No. of doors</p></ion-row>
        <div style="width: 100%; margin-left: 25px; text-align: center;">
          <ion-row style="display: flex; justify-content: center;">
            <ion-button [color]="selectedDoors.includes('Three') ? 'danger' : 'light'" class="fuel" style="width: 100px;" (click)="selectDoors('Three')">Three</ion-button>
            <ion-button [color]="selectedDoors.includes('Five') ? 'danger' : 'light'" class="fuel" style="width: 100px; margin-left: 15px;" (click)="selectDoors('Five')">Five</ion-button>
          </ion-row>         
        </div>
        <ion-item-divider style="height: 1px; margin-top: -15px; width: 100%; margin-left: 0px;"></ion-item-divider>
  <ion-row><img src="../../../assets/extra-icon/seller-type.png" style="height: 30px; width: 30px; margin-left: 10px; margin-top: 10px;" fill="clear;"/>
  <p style="margin-left: 20px; margin-top: 20px;">Seller type</p></ion-row>
  <div style="width: 100%; margin-left: 25px; text-align: center;">
    <ion-row style="display: flex; justify-content: center;">
      <ion-button [color]="selectedSellerType === 'Private' ? 'danger' : 'light'" class="seller" style="width: 100px;" (click)="selectSellerType('Private')">Private</ion-button>
      <ion-button [color]="selectedSellerType === 'Dealer' ? 'danger' : 'light'" class="seller" style="width: 100px; margin-left: 15px;" (click)="selectSellerType('Dealer')">Dealer</ion-button>
    </ion-row>
  </div>  
   <hr style="background-color: black;">
      <div style="text-align: -webkit-center; margin-top: 15px; position: sticky; bottom: 0px; z-index: 1; background-color: white;">
        <ion-row style="text-align: -webkit-center;">
          <ion-col>
            <button id="reset" type="reset" (click)="resetAll()">Reset all</button>
        <button id="submit" (click)="search()">Search</button>
        </ion-col>        </ion-row>      </div>  
    <ion-item-divider></ion-item-divider>

  </ion-content>
